﻿~rem(
  include("profile.en.tmpl");
  setmessages(switch(
        sparam(1)=="error" , <![ERROR[<div class="error">An error occured during account creation: ~include('../auth/displayautherror.tmpl',~sparam(2),'en')</div> ]ERROR]>,
        sparam(1)=="title" , "Create a new account",
        sparam(1)=="badpass" , "Mismatching passwords",
        sparam(1)=="subject" , <![SUBJECT[New account]SUBJECT]>,
        sparam(1)=="body" , <![BODY[Hi,

You requested a new account on ~getconf('site_url')~absolute_templeet()
           
Please load this page to confirm :
  ~getconf('site_url')~absolute_templeet()auth/validaccount,~string(newuser_uid),~getpost('user'),~string(auth_validkey),.html.en
            
-- 
This site runs Templeet
http://templeet.org/
]BODY]>,
        sparam(1)=="contenttype" , "text/plain; charset=utf-8",
        sparam(1)=="subjectadmin" , <![SUBJECT[New account]SUBJECT]>,
        sparam(1)=="bodyadmin" , <![BODY[Hi,

A user requested a new account on ~getconf('site_url')~absolute_templeet()

Please load this page to handle the request :
  ~getconf('site_url')~absolute_templeet()auth/priveditsingle,~string(newuser_uid),.html.en

-- 
This site runs Templeet
http://templeet.org/
]BODY]>,
        sparam(1)=="contenttypeadmin" , "text/plain; charset=utf-8",
        sparam(1)=="conf" , <![CONF[
            An account with ~sparam(2) as login was created.<br />
            You must confirm your request by loading the page indicated in the mail sent to you.]CONF]>,
        sparam(1)=="no" , <![NO[
               An account with ~sparam(2) as login was created.<br />
               Your account has to be validated by an administrator.]NO]>,
        sparam(1)=="yes" , <![YES[
               An account with ~sparam(2) as login was created.<br />
               ]YES]>,
        sparam(1)=="ident" , "You are authentified.",
        sparam(1)=="email" , "Email",
        sparam(1)=="login" , "Login",
        sparam(1)=="pass" , "Password",
        sparam(1)=="pass2" , "Password (confirm)",
        sparam(1)=="getcaptcha" , "Type in the following code",
        sparam(1)=="captchatimeout" , "CAPTCHA time out",
        sparam(1)=="captchaerror" , "CAPTCHA error",
)))