﻿~rem(
  include("profile.fr.tmpl");
  setmessages(switch(
        sparam(1)=="error" , <![ERROR[<div class="error">Un problème est survenu: ~include('../auth/displayautherror.tmpl',~sparam(2),'fr')</div> ]ERROR]>,
        sparam(1)=="title" , "Création d'un nouveau compte",
        sparam(1)=="subject" , <![SUBJECT[Création d'un compte]SUBJECT]>,
        sparam(1)=="body" , <![BODY[Bonjour,

Vous avez demandé la création d'un compte sur ~getconf('site_url')~absolute_templeet()

Pour valider cette demande vous devez charger cette page :
   ~getconf('site_url')~absolute_templeet()auth/validaccount,~string(newuser_uid),~getpost('user'),~string(auth_validkey),.html.fr
            
-- 
Ce site est géré par Templeet
http://templeet.org/
]BODY]>,
        sparam(1)=="contenttype" , "text/plain; charset=utf-8",
        sparam(1)=="subjectadmin" , <![SUBJECT[Création d'un compte]SUBJECT]>,
        sparam(1)=="bodyadmin" , <![BODY[Bonjour,

Un utilisateur a demandé la création d'un compte sur ~getconf('site_url')~absolute_templeet()

Pour traiter cette demande vous devez charger cette page :
  ~getconf('site_url')~absolute_templeet()auth/priveditsingle,~string(newuser_uid),.html.fr
            
-- 
Ce site est géré par Templeet
http://templeet.org/
]BODY]>,
        sparam(1)=="contenttypeadmin" , "text/plain; charset=utf-8",
        sparam(1)=="conf" , <![CONF[
            Un nouveau compte ayant ~sparam(2) comme login a bien été créé.<br />
            Vous devez maintenant valider votre compte en chargeant la page indiquée dans le mail qui vous a été envoyé.]CONF]>,
        sparam(1)=="no" , <![NO[
               Un nouveau compte ayant ~sparam(2) comme login a bien été créé.<br />
               Votre compte doit maintenant être validé par un administrateur.]NO]>,
        sparam(1)=="yes" , <![YES[
               Un nouveau compte ayant ~sparam(2) comme login a bien été créé.<br />
               ]YES]>,
        sparam(1)=="ident" , "Vous êtes identifié.",
        sparam(1)=="email" , "Email",
        sparam(1)=="login" , "Login",
        sparam(1)=="pass" , "Mot de passe",
        sparam(1)=="pass2" , "Mot de passe (confirmation)",
        sparam(1)=="getcaptcha" , "Saisissez le code ci-contre",
        sparam(1)=="captchatimeout" , "Délai de validité du CAPTCHA expiré",
        sparam(1)=="captchaerror" , "Erreur de CAPTCHA",
)))