﻿~rem(setmessages(switch(
        sparam(1)=="error" , <![ERROR[<div class="error">erreur ~string(res): ~string(list_error)</div> ]ERROR]>,
        sparam(1)=="title" , "Configuration de Templeet",
        sparam(1)=="regerror" , "Erreur dans une expression de la table d'association des templates",
        sparam(1)=="sqlconf" , "Accès SQL",
        sparam(1)=="alias" , "Alias",
        sparam(1)=="type" , "Type",
        sparam(1)=="parameter" , "Paramètres",
        sparam(1)=="noparam" , "Aucun paramètre requis",
        sparam(1)=="sqlhelp" , <![SQLHELP[Ce tableau permet de définir les différentes base de données auxquelles vous
avez accès. L'alias est utilisé comme premier argument dans les fonctions
&tilde;list(). Le premier alias, représenté par '*', est utilisé par défaut.]SQLHELP]>,
        sparam(1)=="defaultlang" , "Langue par défaut",
        sparam(1)=="langhelp" , <![LANGHELP[Vous pouvez modifier la langue par défaut que Templeet utilisera dans le cas
d'une demande d'une langue qui n'existe pas. Voir la documentation sur la
<a href="~relative_templeet()templeet_doc/index.fr.html#langues">gestion des langues</a>.]LANGHELP]>,
        sparam(1)=="emailadmin" , "Email administrateur Templeet",
        sparam(1)=="emailhelp" , "Adresse de l'administrateur Templeet.",
        sparam(1)=="userarea" , "Zones utilisateur",
        sparam(1)=="userareahelp" , "Nombre maximum de zones autorisées par utilisateur.",
        sparam(1)=="createuser" , "Création d'utilisateur",
        sparam(1)=="createuserhelp" , "Droit minimum dans la zone CREATEUSER pour pouvoir créer un utilisateur.",
        sparam(1)=="createuserspace" , "Création d'espace utilisateur",
        sparam(1)=="createuserspacehelp" , "Droit minimum dans la zone CREATEUSERSPACE pour pouvoir créer un espace utilisateur.",
        sparam(1)=="html2template" , "Association url templates",
        sparam(1)=="html2templatehelp" , "Ce tableau vous permet d'associer des urls appelés avec des templates.
<br />
<b>IMPORTANT</b>: ne changez pas ces paramètres sauf si vous savez ce que vous
faites."
)))
