﻿~rem(
  setmessages(switch(
        sparam(1)=="validerror" , <![ERROR[<div class="error">Une erreur s'est produite lors de la validation de votre compte: ~include('../auth/displayautherror.tmpl',~sparam(2),'fr')</div> ]ERROR]>,
        sparam(1)=="title" , "Validation d'un compte",
        sparam(1)=="subjectmailadmin" , "Templeet: nouvel utilisateur: ~sparam(3)",
        sparam(1)=="bodymailadmin" , <![MAILADMIN[L'utilisateur ~sparam(3) a confirmé son inscription.

Vous devez maintenant valider son compte pour qu'il soit actif.
~getconf('site_url')~absolute_templeet()auth/priveditsingle,~sparam(2),.html.fr
              ]MAILADMIN]>,
        sparam(1)=="confirm" , <![CONFIRM[
               Votre demande de compte a été confirmée.
               ]CONFIRM]>,
        sparam(1)=="confadmin" , <![CONFADMIN[
              Votre demande de compte a été confirmée.
              <p>Votre compte doit désormais être validé par un administrateur.</p>]CONFADMIN]>,
        sparam(1)=="accountconfirmed" , "Votre demande de compte a été confirmée."
        
        
        
)))