~rem(
  includelang("functions");
  if(lang=="",lang=includelang);
  if(!preg_match("/[a-z]{2}/",lang) || !isset(all_lang[lang]),http_error(404));
  
  linkcss[]="doc.css";

  modules=array();
  ls( "template/doc/xml/~string(includelang)", "/\.xml$/i", "file", "S", 0,,
      "LM", modules[~ls_fld("rfile")]=1);
      
  listfunctions=array(); 
  
  array_list(modules,0,,
    'LM',
    ~rem(
      xmlfile="template/doc/xml/".includelang."/".array_fld('key').".xml";
      xmlcontent=file_get_contents(xmlfile);
      doc=new('DOMDocument');
      resload=doc->loadXML(xmlcontent);
      if(!resload,
        throw(new("TempleetError","Error loading ~array_fld('key') XML file")));
        
      xpath =new('DOMXPath',doc);
      elements = xpath->query('//doc/bloc/entry[@type="function" or @type="pseudofunction"]');
      foreach(elements,val,
            {
              title=val->getAttribute("title");
              listfunctions[substr(title,0,1)][title]=array_fld('key');
            });
            
    ) 
   );
  ksort(listfunctions); 
)~include("/skins/skin.tmpl",
<![MAIN[
<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
~include("docmenu.tmpl")
  ~array_list(listfunctions,0,,
    'LM',
    <![LM[
    <h1>~strtoupper(array_fld('key'))</h1>
    ~rem(
      functions=array_fld('current');
      ksort(functions)
      )
    <ul>  
    ~array_list(functions,0,,
      'LM',
       <![FUNCTIONS[
         <li><a href="~array_fld('current').html.~string(lang)#~array_fld('key')">~array_fld('key')</a></li>
       ]FUNCTIONS]>)
    </ul>   
    ]LM]>)
]MAIN]>,
"")
