﻿~rem(
  ls( "template/doc/lang", "/index\.\w\w\.tmpl$/i", "file", "S", 0,,
      "LM", "",
      "LD", throw(new TempleetError("no doc package available. Please install one or more language documentaion package.")));

  includelang("index");
  if(lang=="",lang=includelang);
  linkcss[]="doc.css";

  modules=array();
  ls( "~getconf("templatedir")doc/xml/~string(includelang)", "/\.xml$/i", "file", "S", 0,,
      "LM", modules[~ls_fld("rfile")]=1);
  unset(modules["core"]);
  modules=array_merge(array("core" => 1),modules);
)~include("/skins/skin.tmpl",
<![MAIN[
<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
~include("docmenu.tmpl")
<h1>~d("modules")</h1>
~d("text")<br /><br />
~array_list(modules,0,,
  'LF','<table style="margin-left:2em;" cellpadding="10">',
  'LL',"</table>",
  'LM',
  <![LM[
    ~rem(
      xmlfile="~getconf("templatedir")doc/xml/".includelang."/".array_fld('key').".xml";
      xmlcontent=file_get_contents(xmlfile);
      
      doc=new('DOMDocument');
      resload=doc->loadXML(xmlcontent);
      if(resload,
          {
            xpath =new('DOMXPath',doc);
            elements = xpath->query("//doc/title");
            foreach(elements,val,
              moduletitle=val->nodeValue);
          },
          moduletitle="error reading xml file"
        );
    ) 
  <tr><td><b>·</b><a href="~array_fld('key').html.~string(includelang)">~array_fld('key')</a></td><td style="padding-left:10px;">~string(moduletitle)</td></tr>
  ]LM]>)

]MAIN]>,
"")
