﻿~rem(
  setmessages(switch(
        sparam(1)=="title" , "Templeet",
        sparam(1)=="text",
<![TEXT[
<h1>What is Templeet</h1>
<p>
<b>Templeet</b> is a template language created by
Fabien Penso and me in September 2002. It can make
photo galleries, news systems, personal sites, blogs,
etc. It can generate HTML, CSS, SVG pictures, SMIL, or any
other text or binary file. More than a template engine it is a
complete language, one of whose aims is to enable dynamic management of
static pages.
</p>

<p>
Templeet is distributed under a free license (<a href="http://www.gnu.org/copyleft/gpl.html"> the GPL </a>).
The <a href="https://hg.templeet.org/hg"> version manager </a> is freely accessible.
Discussions concerning the development and use are on the public mailing list <a
href="http://templeet.org/help.html.en">templeet-en</a>.
Since 2004 I'm alone with Templeet, so any help to
make documentation or code, any suggestion and especially bug reporting 
are welcome to help me to improve Templeet.
</p>

Pascal COURTOIS]TEXT]>        
        
)))
