﻿~includelang("areaedit")
~getauth('',0)
~include("/skins/skin.tmpl",
<![MAIN[
<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>

~if(auth_editpriv() || getconf('maxuserarea')>0,
  {
    if(getpost('_ua_user')!='',uid=getpost('_ua_user'),uid=auth_uid),
    displaydefault=0,
    <![AREAEDIT[
    
    ~switch(
           getpost('modify')!='',
                  {
                    arealabel=getpost('arealabel');
                    res=auth_setarea(getpost('_ua_user'),getpost('modify'),arealabel[getpost('modify')]),
                    displaydefault=1
                  },
     
           getpost('askdel')!='',
                  <![ASKDELAREA[
                    <h1>~d("delarea",getpost('askdel'),auth_getbyuid(getpost('_ua_user'),"login"))</h1>
      
                    ~d("askdelarea")<br /><br />
                    <form method="post" action="~relative_templeet_script()~string(path)" >
                    <div>
                    <input type="hidden" name="_ua_user" value="~getpost('_ua_user')" />
                    <input type="hidden" name="area" value="~getpost('askdel')" />
                    <button class="button_ok" type="submit" name="action" value="delarea"
                            onmouseover="toggleDiv('inf_validdelarea',1,event)"
                            onmouseout="toggleDiv('inf_validdelarea',0)"></button>
                    <button class="button_cancel" name="action" value="cancel"
                            onmouseover="toggleDiv('inf_canceldelarea',1,event)"
                            onmouseout="toggleDiv('inf_canceldelarea',0)"></button>
                    </div>
                    </form>
                    
                    <div id="inf_validdelarea" class="floatwin">~d("inf_validdelarea")</div>
                    <div id="inf_canceldelarea" class="floatwin">~d("inf_canceldelarea")</div>
                  ]ASKDELAREA]>,
                  
           getpost('action')=='delarea',
                  {
                    res=auth_delarea(getpost('_ua_user'),getpost('area')),
                    displaydefault=1
                  },
                  
           getpost('action')=='asknewarea',
                  <![ASKNEWAREA[
                    <h1>~d("asknewarea",auth_getbyuid(getpost('_ua_user'),"nickname"))</h1>
                    <form method="post" action="~relative_templeet_script()~string(path)">
                    <div>
                    <input type="hidden" name="_ua_user" value="~getpost('_ua_user')" />
                    <table class="chart">
                    
                      <tr>
                      <td>~d("areaname")</td>
                      <td>
                      <input type="text" name="area" size="20" value="" class="form" />
                      </td>
                      </tr>
                      
                      <tr>
                      <td>~d("arealabel")</td>
                      <td>
                      <input type="text" name="arealabel" size="20" value="" class="form" />
                      </td>
                      </tr>
                      
                      <tr><td style="border-bottom: 0;border-left: 0;border-right: 0;"></td>
                          <td style="border-bottom: 0;border-left: 0;border-right: 0;">
                      <button class="button_ok" type="submit" name="action" value="newarea"
                              onmouseover="toggleDiv('inf_validnewarea',1,event)" 
                              onmouseout="toggleDiv('inf_validnewarea',0)"></button>
                      <button class="button_cancel" name="action" value="cancel"
                              onmouseover="toggleDiv('inf_cancelnewarea',1,event)" 
                              onmouseout="toggleDiv('inf_cancelnewarea',0)"></button>
                      </td></tr>
                    </table>
                    </div>
                    </form>
                    
                    <div id="inf_validnewarea" class="floatwin">~d("inf_validnewarea")</div>
                    <div id="inf_cancelnewarea" class="floatwin">~d("inf_cancelnewarea")</div>
                  ]ASKNEWAREA]>, 
                               
           getpost('action')=='newarea',
                  {
                    res=auth_newarea(uid,getpost('area'),getpost('arealabel')),
                    <![NEWAREA[
                      <h1>~d("asknewarea",auth_getbyuid(getpost('_ua_user'),"nickname"))</h1>   
                      ~if(res>=0,
                          ~d("newarea",getpost('area')),
                          ~d("error",res))
                      <br /> 
                      <form method="post" action="~relative_templeet_script()~string(path)">
                      <div>
                      <input type="hidden" name="_ua_user" value="~getpost('_ua_user')" />
                      <button class="button_ok" type="submit"></button>
                      </div>
                      </form>
                    ]NEWAREA]>
                  },
           
           ~rem(displaydefault=1)
    )
    ~if(displaydefault!=0,
    <![DEFAULT[
    <h1>~d("handlearea",auth_getbyuid(uid,"nickname"))</h1>
    
    ~auth_listarea(uid,'LD',d("noarea"),
    'LF','
    <form method="post" action="~relative_templeet_script()~string(path)">
    <div>
    <input type="hidden" name="_ua_user" value="~string(uid)" />
    
    <table class="chart">
    ','LL',
    '</table>
    </div>
    </form>',
    'LM',
    <![LISTAREA[
    <tr><td>~auth_listareafld('name')</td><td>
    <input type="text" name="arealabel[~auth_listareafld('name')]" value="~auth_listareafld('label')" size="30" />
    </td>
    <td>
      <button class="button_ok" type="submit" name="modify" value="~auth_listareafld('name')"
              onmouseover="toggleDiv('inf_changelabel',1,event)" 
              onmouseout="toggleDiv('inf_changelabel',0)"></button>

    </td>
    <td>
    ~if(uid!=0 || (auth_listareafld('name')!='ADMIN' && auth_listareafld('name')!='CREATEUSER'),
    <![DELAREA[
    <button class="button_trash" name="askdel" value="~auth_listareafld('name')"                      
            onmouseover="toggleDiv('inf_askdelarea',1,event)"
            onmouseout="toggleDiv('inf_askdelarea',0)"></button>
    ]DELAREA]>,"&nbsp;")
    </td>
    </tr>
    ]LISTAREA]>)
    <br />
    <form method="post" action="~relative_templeet_script()~string(path)" >
    <div>
    <input type="hidden" name="action" value="asknewarea" />
    <input type="hidden" name="_ua_user" value="~string(uid)" />
    <input type="image" src="~imagepath()auth/icons/newarea.png" onmouseover="toggleDiv('inf_asknewarea',1,event)" onmouseout="toggleDiv('inf_asknewarea',0)" />
    </div>
    </form>
    <br /><br />
    
    <div id="inf_changelabel" class="floatwin">~d("inf_changelabel")</div>
    <div id="inf_asknewarea" class="floatwin">~d("inf_asknewarea")</div>
    <div id="inf_askdelarea" class="floatwin">~d("inf_askdelarea")</div>
    ~if(getpriv("ADMIN"),"<hr />~include("selectuserarea.tmpl",lang,"auth/areaedit.html~if(lang!="",".".lang)")")
    ]DEFAULT]>)
    
    ]AREAEDIT]>
  })

]MAIN]>,
"00_home;20_admin")
