﻿~includelang("authform")
~getauth('',-1)
~include("/skins/skin.tmpl",
<![MAIN[
<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
<table class="chart" style="margin: auto;"><tr><td style="text-align:left; padding: 10px;">
<h1>~d("title")</h1>


~if(auth_user=='',
<![AUTHFORM[
~d("authrequest")
<br />

<form method="post" action="~relative_templeet_script()~string(path)">
<div>
<input type="hidden" name="urlfrom" value="~absolute_templeet()auth/index.html~string(dotlang)" />
<input type="hidden" name="auth_userspace" value="0">

<h2>~d("login")</h2>
<input type="text" name="auth_user"  size="20" class="form"
value="admin"
readonly="readonly" />
<br />
<h2>~d("pass")</h2>
<input type="password" name="auth_pass" size="20" class="form" value="passwo"
onfocus="this.value=''" /><br /><br />
~d("remember") <input type="checkbox" name="auth_remember" class="form" value="1" /> <br />
                    <button class="button_ok" type="submit"
                            onmouseover="toggleDiv('inf_valid',1,event)"
                            onmouseout="toggleDiv('inf_valid',0)"></button>
</div>                            
</form>


~if(getpost('auth_pass')!='' && getpost('auth_user')!='',
  {
    res=setauth(getpost('auth_userspace'),getpost('auth_user'),getpost('auth_pass'),getpost('auth_remember'));
    if(res==0,redirect(~getpost('urlfrom')),d("error",res))
  })
<div id="inf_valid" class="floatwin">~d("valid")</div>

]AUTHFORM]>,
  redirect(~getpost('urlfrom')),d("error",res)
)
</td></tr></table>

]MAIN]>,
"00_home;30_myaccount")
