﻿~rem(
  includelang("chinfo");
  getauth('',0);
  #labels=ffa_readfile('templeet/auth/labels');
  displayform=1;
  include("profile.tmpl");
  if(getpost("ok")!="",
    {
      profile=getpost("profile");
      if(checkparam()==0,
          {
            res=auth_updateprofile("",profile);
          }  
        )
    },
    {
      profile=getprofile();
    })
)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
<h1>~d("title")</h1>

~if(displayform,
  <![FORM[  
      <form method="post" action="~relative_templeet_script()~string(path)">
      <div>
      <input type="hidden" name="profile[#]" value="#" />
      <table class="lo">
      ~array_list(auth_readfields(),0,,
        "LD",
          d("nofield"),
        "LM",
          {
            fieldname=array_fld('key');
            field=array_fld('current');
            if(isset(#labels["label"][fieldname]),
                 label=#labels["label"][fieldname][chooselang(lang,#labels["label"][fieldname])];
                 label=""
              );
            if(empty(field["desc"]["userhide"]), 
              <![LM[
                <tr>
                  ~switch(
                    field["desc"]["type"]=="title",
                      <![TITLE[
                        <td colspan="2">       
                          <h2>~string(label)</h2>
                        </td>
                      ]TITLE]>,
                    field["desc"]["type"]=="sep",
                      <![SEP[
                        <td colspan="2">       
                          <hr style="width:80%;">
                        </td>
                      ]SEP]>,
                      <![FIELD[
                        <td></td>
                        <td style="padding-top: 1em;">
                          ~if(!empty(errormessage[fieldname]),<![ERROR[<div class="error_line">~string(errormessage[fieldname])</div>]ERROR]>)
                        </td>
                        </tr><tr>
                        <td style="vertical-align: middle;">~string(label)</td>
                        <td style="vertical-align: middle;">
                          ~showinput(fieldname,field["desc"],profile[fieldname])
                        </td>
                      ]FIELD]>
                    )
                </tr>
              ]LM]>)
          })
      
      <tr>
        <td></td>
        <td><button class="button_ok" type="submit" name="ok" value="1"
         onmouseover="toggleDiv('inf_valid',1,event)" 
         onmouseout="toggleDiv('inf_valid',0)" ></button>
        </td>
      </tr>
      
      </table>
      <div id="inf_valid" class="floatwin">~d("inf_valid")</div>
      </div>
      </form>
  ]FORM]>)

]MAIN]>,
"00_home;30_myaccount")
