﻿~includelang("chmail")
~getauth('',0)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
    
~if(get_filenamevar(1)!="",
  <![SETNEWMAIL[
<h1>~d("title2")</h1>

~string(
  {
    res=auth_setnewmail(~get_filenamevar(1),~get_filenamevar(2),~get_filenamevar(3));
    if(res!=0,
        d("error",res),
        d("changeok")
      )
  }    

)
  
  ]SETNEWMAIL]>,
  <![CHPASS[
<h1>~d("title")</h1>

~if(getpost('ok')!='',
   {
     res=auth_newmail(getpost('email'),d("emailsubject"),d("emailbody"),array("Content-type" => d("contenttype"))),
     switch(
       res==0,
         d("emailsent"),
       res<0,
         d("error",res)."<br />".templeet_error
       )
   },
   if(auth_user=="admin",
      d("nochmailforadmin"),
     <![FORM[
       ~d("getemail")<br />
       <form method="post" action="~relative_templeet_script()~string(path)">
       <div>
         <input type="text" name="email" value="~string(auth_email)" size="40" />
  <button class="button_ok" type="submit" name="ok" value="1"
           onmouseover="toggleDiv('inf_valid',1,event)" 
           onmouseout="toggleDiv('inf_valid',0)"
   ></button>
       </div>
       </form>
       
       <div id="inf_valid" class="floatwin">~d("inf_valid")</div>
     ]FORM]>))
]CHPASS]>)    
]MAIN]>,
"00_home;30_myaccount")
