﻿~includelang("chpass")
~getauth('',0)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>

<h1>~d("title")</h1>
~rem(displayform=1)

~switch(
  'x~getpost('newpassword1')' != 'x~getpost('newpassword2')',
    d("badpass"),
  !empty(getpost('ok')) && strlen(getpost('newpassword1'))<4,
    d("shortpass"),
  !empty(getpost('ok')),
    {
      displayform=0;
      res=auth_passwd(auth_uid,getpost('oldpassword'),getpost('newpassword1'));
      if(res>=0,
          d("okpass"),
          d("error",res)
        )       
    }    
)

~if(displayform,<![FORM[
<form method="post" action="~relative_templeet_script()~string(path)">

<table class="lo">

<tr>
<td>
~d("oldpass")
</td>
<td>
<input type="password" name="oldpassword" size="20" value="" class="form" />
</td>
</tr>

<tr>
<td>
~d("newpass")
</td>
<td>
<input type="password" name="newpassword1" size="20" value="" class="form" />
</td>
</tr>
<tr>
<td>
~d("newpass2")
</td>
<td>
<input type="password" name="newpassword2" size="20" value="" class="form" />
</td>
</tr>

<tr>
<td></td><td>
<button class="button_ok" type="submit" name="ok" value="1"
         onmouseover="toggleDiv('inf_valid',1,event)" 
         onmouseout="toggleDiv('inf_valid',0)"
 ></button>
</td>
</tr>
</table>

</form>
<div id="inf_valid" class="floatwin">~d("inf_valid")</div>
]FORM]>)

]MAIN]>,
"00_home;30_myaccount")
