﻿~rem(
  includelang("confprofile");
  getauth('',0);
  defunc('showtype',
    {
      #typedesc=sparam(1);
      switch(
        #typedesc=='title',d('type_title'),
        #typedesc=='date',d('type_date'),
        #typedesc=='text',d('type_text'),
        #typedesc=='textarea',d('type_textarea'),
        #typedesc=='int',d('type_int'),
        #typedesc=='double',d('type_double'),
        #typedesc=='checkbox',d('type_checkbox'),
        '<hr width="100%">'
      )
    });
    
  defunc('showparam',
    {
      #typedesc=sparam(1);
      "<div>".
      switch(
        #typedesc["type"]=='title',"",
        #typedesc["type"]=='date',<![VARTYPE[~d("mindate") ~string(#typedesc[1]) ~d("maxdate") ~string(#typedesc[2])]VARTYPE]>,
        #typedesc["type"]=='text',<![VARTYPE[~d("textlen") ~string(#typedesc[1])]VARTYPE]>,
        #typedesc["type"]=='textarea',<![VARTYPE[~d("lines") ~string(#typedesc[1]) ~d("maxsize") ~string(#typedesc[2])]VARTYPE]>,
        #typedesc["type"]=='int',<![VARTYPE[~d("minnum") ~string(#typedesc[1]) ~d("maxnum") ~string(#typedesc[2])]VARTYPE]>,
        #typedesc["type"]=='double',<![VARTYPE[~d("minnum") ~string(#typedesc[1]) ~d("maxnum") ~string(#typedesc[2])]VARTYPE]>,
        #typedesc["type"]=='checkbox',<![VARTYPE[~d("cbdefault") ~if(#typedesc["default"],~d("checked"),~d("unchecked"))]VARTYPE]>,
        ''
      ).
      "</div>"
});

  defunc('checkparam',
    {
      #desc=sparam(1);
      switch(
        #desc["type"]=='sep',
          #desc,
        #desc["type"]=='title',
          #desc,
        #desc["type"]=='text' || #desc["type"]=='textarea',
          #desc,
        #desc["type"]=='date',
          {
            if(#desc[1]=="" && #desc[2]=="" &&#desc[3]=="",
                #datemin="",
                {
                  if(preg_match("/^\d{4}$/",#desc[1]) && preg_match("/^(?:[0\s]?\d|1[012])$/",#desc[2]) && preg_match("/^[0\s]?\d{1,2}$/",#desc[3]),
                      {
                        if(#desc[3]>31 || 
                           ((#desc[2]==4 || #desc[2]==6 || #desc[2]==9 || #desc[2]==11)&& #desc[3]>30 ) ||
                           (#desc[2]==2 && #desc[3]>29),
                           #datemin="error",
                           #datemin=sprintf("%4d%'02d%'02d",#desc[1],#desc[2],#desc[3]))
                      },
                     {
                       #datemin="error"
                     }  
                    )
                }
              );
            if(#desc[4]=="" && #desc[5]=="" && #desc[6]=="",
                #datemax="",
                {
                  if(preg_match("/^\d{4}$/",#desc[4]) && preg_match("/^(?:[0\s]?\d|1[012])$/",#desc[5]) && preg_match("/^[0\s]?\d{1,2}$/",#desc[6]),
                      {
                        if(#desc[6]>31 || 
                           ((#desc[5]==4 || #desc[5]==6 || #desc[5]==9 || #desc[5]==11)&& #desc[6]>30 ) ||
                           (#desc[5]==2 && #desc[6]>29),
                           #datemax="error",
                           #datemax=sprintf("%4d%'02d%'02d",#desc[4],#desc[5],#desc[6]))
                      },
                      #datemax="error"
                    )
                }
              );
            switch(
                #datemin=="error",
                  d("datemin_error"),
                #datemax=="error",
                  d("datemax_error"),
                #datemin!="" && #datemax!="" && #datemin>#datemax,
                  d("dateminmax_error"),
                #desc=array("type"=>"date",1=>#datemin,2=>#datemax)  
              )  
          },
        #desc["type"]=='int',
          switch(
              !empty(#desc[1]) && (!is_numeric(#desc[1]) || integer(#desc[1])!=#desc[1]),
                d("intmin_error"),
              !empty(#desc[2]) && (!is_numeric(#desc[2]) || integer(#desc[2])!=#desc[2]),
                d("intmax_error"),
              !empty(#desc[1]) && !empty(#desc[2]) && #desc[1]>#desc[2],
                d("intminmax_error"),
              {  
                #desc[1]=if(empty(#desc[1]),"",integer(#desc[1])),
                #desc[2]=if(empty(#desc[2]),"",integer(#desc[2])),
                #desc  
              }  
            ),
        #desc["type"]=='double',
          switch(
              !empty(#desc[1]) && !is_numeric(#desc[1]),
                d("doublemin_error"),
              !empty(#desc[2]) && !is_numeric(#desc[2]),
                d("doublemax_error"),
              !empty(#desc[1]) && !empty(#desc[2]) && #desc[1]>#desc[2],
                d("doubleminmax_error"),
              {  
                #desc[1]=if(empty(#desc[1]),"",double(#desc[1])),
                #desc[2]=if(empty(#desc[2]),"",double(#desc[2])),
                #desc  
              }  
            ),
        #desc["type"]=='checkbox',
          #desc
      )
});

  defunc("getfield_layout",
<![GETFIELD[
~rem(#desc=sparam(2))
<tr>
<td>
  <table class="lo"><tr><td>~d("fieldname")</td><td>~d("userhide")</td><td>~d("fieldtype")</td></tr>
  <tr><td><input type="text" name="fieldname" size="20" value="~sparam(1)" />
  <input type="hidden" name="fieldname_old" value="~sparam(1)" />
  </td>
  <td style="text-align: center;"><input type="checkbox" name="userhide" value="on" ~if(#desc["userhide"],<![CHECKED[checked="checked"]CHECKED]>) /></td>
  <td><select name="type" onchange="changeList(this);">
  <option value="sep" ~if(#desc["type"]=="sep" || #desc["type"]=="",'selected="selected"')>~d("type_separator")</option>
  <option value="title" ~if(#desc["type"]=="title",'selected="selected"')>~d("type_title")</option>
  <option value="date" ~if(#desc["type"]=="date",'selected="selected"')>~d("type_date")</option>
  <option value="text" ~if(#desc["type"]=="text",'selected="selected"')>~d("type_text")</option>
  <option value="textarea" ~if(#desc["type"]=="textarea",'selected="selected"')>~d("type_textarea")</option>
  <option value="int" ~if(#desc["type"]=="int",'selected="selected"')>~d("type_int")</option>
  <option value="double" ~if(#desc["type"]=="double",'selected="selected"')>~d("type_double")</option>
  <option value="checkbox" ~if(#desc["type"]=="checkbox",'selected="selected"')>~d("type_checkbox")</option>
  </select>
  </td></tr>
  </table>
</td>


<td>

<div id="typesep" style="display: none;"><br />
</div>

<div id="typetitle" style="display: none;"><br />
</div>

<div id="typedate" style="display: none;">
<table class="lo">
<tr><td>~d("mindate")</td><td>~d("maxdate")</td></tr>
<tr>
<td>
<input type="text" name="typeinfo[date][1]" maxlength="4" size="4" value="~if(#desc["type"]=="date",substr(#desc[1],0,4))" />/
<input type="text" name="typeinfo[date][2]" maxlength="2" size="2" value="~if(#desc["type"]=="date",substr(#desc[1],4,2))" />/
<input type="text" name="typeinfo[date][3]" maxlength="2" size="2" value="~if(#desc["type"]=="date",substr(#desc[1],6,2))" />
</td>
<td>
<input type="text" name="typeinfo[date][4]" maxlength="4" size="4" value="~if(#desc["type"]=="date",substr(#desc[2],0,4))" />/
<input type="text" name="typeinfo[date][5]" maxlength="2" size="2" value="~if(#desc["type"]=="date",substr(#desc[2],4,2))" />/
<input type="text" name="typeinfo[date][6]" maxlength="2" size="2" value="~if(#desc["type"]=="date",substr(#desc[2],6,2))" />
</td></tr>
</table>
</div>



<div id="typetext" style="display: none;">
<table class="lo">
<tr><td>~d("textlen")</td></tr>
<tr><td>~makeselect('typeinfo[text][1]',~if(#desc["type"]=="text",#desc[1],30),
array(1,2,3,4,5,6,7,8,9,10,15,20,25,30,35,40,45,50,60,70,80,90,100))</td>
</tr>
</table>
</div>

<div id="typetextarea" style="display: none;">
<table class="lo">
<tr><td>~d("lines")</td><td>~d("maxsize")</td></tr>
<tr><td>~makeselect('typeinfo[textarea][1]',~if(#desc["type"]=="textarea",#desc[1],2),
array(2,3,4,5,6,7,8,9,10,15,20))</td><td>
~makeselect('typeinfo[textarea][2]',#desc[2],
array(100,200,300,400,500,1000,2000,
3000,4000,5000,10000))
</td>
</tr>
</table>
</div>

<div id="typeint" style="display: none;">
<table class="lo">
<tr><td>~d("minnum")</td><td>~d("maxnum")</td></tr>
<tr><td><input type="text" name="typeinfo[int][1]" size="6" value="~if(#desc["type"]=="int",~string(#desc[1]))" /></td>
<td><input type="text" name="typeinfo[int][2]" size="6" value="~if(#desc["type"]=="int",~string(#desc[2]))" /></td></tr>
</table>
</div>

<div id="typedouble" style="display: none;">
<table class="lo">
<tr><td>~d("minnum")</td><td>~d("maxnum")</td></tr>
<tr><td><input type="text" name="typeinfo[double][1]" size="15" value="~if(#desc["type"]=="double",~string(#desc[1]))" /></td>
<td><input type="text" name="typeinfo[double][2]" size="15" value="~if(#desc["type"]=="double",~string(#desc[2]))" /></td></tr>
</table>
</div>

<div id="typecheckbox" style="display: none;">
<table class="lo">
<tr><td>~d("cbdefault")</td></tr>
<tr><td><input type="checkbox" name="typeinfo[checkbox][default]" value="on" ~if(#desc["type"]=="checkbox",~if(!empty(#desc["default"]),'checked="checked"')) /></td>
</tr>
</table>
</div>

</td></tr>
]GETFIELD]>)
)
~include("/skins/skin.tmpl",
<![MAIN[

~rem(
    #iso639=ffa_readfile('templeet/auth/iso639-1'),
    #labels=ffa_readfile('templeet/auth/labels')
)

<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>

<script type="text/javascript">
//<![CDATA[
var listdivtype = new Array('sep','title','date','text','textarea','int','double','checkbox');

function changeList( box ) {
	for ( i = 0; i < listdivtype.length; i++ ) {
	  if (box.options[box.selectedIndex].value==listdivtype[i])
	      {
          document.getElementById("type"+listdivtype[i]).style.display='inline';
	      }  
	    else
	      {
		document.getElementById("type"+listdivtype[i]).style.display='none';
	      }
	}
}
//]]>
</script>

<h1>~d('title')</h1>

~rem(
  displaymain=1;
  displaylang=1;
  )
~switch(
    getpost("swap")!="",
      {
        displaymain=1;
        displaylang=1;
        auth_swapfield(getpost("swap"));
        ""
      },
    getpost("modlang")!="",
      {
        displaymain=1;
        displaylang=1;
        ""
      },
    getpost("addlang")!="",
      { 
        displaymain=1;
        displaylang=1;
        #langcode=getpost("lang");
        #labels=ffa_readfile('templeet/auth/labels');
        ~if(empty(#labels["lang"][#langcode]),
             {
               #labels["lang"][#langcode]=1,
               ffa_writefile('templeet/auth/labels',#labels),
               message=d("addlangok")
             },
             {
               message=d("addlangexists")
             }
           );
        ""
      },
    getpost("trash_lang")!="",
      { 
        displaymain=1;
        displaylang=1;
        #langcode=key(getpost("trash_lang"));
        #labels=ffa_readfile('templeet/auth/labels');
        unset(#labels["lang"][#langcode]);
        array_list(#labels["label"],0,,'LM',unset(#labels["label"][array_fld('key')][#langcode]));
        ffa_writefile('templeet/auth/labels',#labels);
        ""
      },
   getpost("getaddrow")!="",
      { 
        displaymain=0,
        displaylang=0,
        <![GETaddrow[
           <form method="post" id="addform" action="~relative_templeet_script()~string(path)">
              <table class="lo">
              
              ~getfield_layout()
              
              <tr> 
                <td class="lo">
                  <button class="button_ok" type="submit" name="addrow" value="1" 
                    onmouseover="toggleDiv('inf_getaddrowok',1,event)" 
                    onmouseout="toggleDiv('inf_getaddrowok',0)"></button>
                  <button class="button_cancel" name="cancel" value="1" 
                    onmouseover="toggleDiv('inf_getaddrowcancel',1,event)" 
                    onmouseout="toggleDiv('inf_getaddrowcancel',0)"></button>
                </td>
                <td class="lo">
                </td> 
              </tr>
              </table>


          </form>   
            <script type="text/javascript">
              changeList(document.getElementById('addform').type);
            </script>

          <div id="inf_getaddrowok" class="floatwin">~d("validnewrow")</div>
          <div id="inf_getaddrowcancel" class="floatwin">~d("cancelnewrow")</div>
        ]GETaddrow]>
      },
    getpost("addrow")!="",
      { 
        #typeinfo=getpost("typeinfo");
        #desc["type"]=getpost("type");
        #desc["userhide"]=getpost("userhide");
        if(is_array(#typeinfo[#desc["type"]]),#desc+=#typeinfo[#desc["type"]]);
        #desc=checkparam(#desc);
        if(is_string(#desc),
            <![ERROR[~string(#desc)]ERROR]>,
            {
              res=auth_addfield(getpost("fieldname"),#desc);
              if(res==0,
                  { 
                    if(getpost("fieldname_old")!=getpost("fieldname"),
                          {
                            #labels["label"][getpost("fieldname")]=#labels["label"][getpost("fieldname_old")],
                            unset(#labels["label"][getpost("fieldname_old")]),
                            ffa_writefile('templeet/auth/labels',#labels)
                          }
                       );
                    d("addok")
                  },
                  d("error",res,lang)
                )."<br /><br />"
            })
      },
    getpost("getmodrow")!="",
      { 
        displaymain=0;
        displaylang=0;
        #fields=auth_readfields();
        <![GETmodrow[
           <form method="post" id="modform" action="~relative_templeet_script()~string(path)">
              <table class="lo">
              
              ~getfield_layout(getpost("getmodrow"),#fields[getpost("getmodrow")]["desc"])
              
              <tr> 
                <td class="lo">
                  <button class="button_ok" type="submit" name="modrow" value="1" 
                    onmouseover="toggleDiv('inf_getmodrowok',1,event)" 
                    onmouseout="toggleDiv('inf_getmodrowok',0)"></button>
                  <button class="button_cancel" name="cancel" value="1" 
                    onmouseover="toggleDiv('inf_getmodrowcancel',1,event)" 
                    onmouseout="toggleDiv('inf_getmodrowcancel',0)"></button>
                </td>
                <td class="lo">
                </td> 
              </tr>
              </table>

          </form>   
           <script type="text/javascript">
              changeList(document.getElementById('modform').type);
           </script>

          <div id="inf_getmodrowok" class="floatwin">~d("validmodrow")</div>
          <div id="inf_getmodrowcancel" class="floatwin">~d("cancelmodrow")</div>
        ]GETmodrow]>
        
        
      },
    getpost("modrow")!="",
      { 
        #typeinfo=getpost("typeinfo");
        #desc["type"]=getpost("type");
        #desc["userhide"]=getpost("userhide");
        if(is_array(#typeinfo[#desc["type"]]),#desc+=#typeinfo[#desc["type"]]);
        #desc=checkparam(#desc);
        if(is_string(#desc),
            <![ERROR[~string(#desc)]ERROR]>,
            {
              res=auth_modfield(getpost("fieldname_old"),getpost("fieldname"),#desc);
              if(getpost("fieldname_old")!=getpost("fieldname"),
                    {
                      #labels["label"][getpost("fieldname")]=#labels["label"][getpost("fieldname_old")],
                      unset(#labels["label"][getpost("fieldname_old")]),
                      ffa_writefile('templeet/auth/labels',#labels)
                    }
                 );
              if(res==0,
                  d("modok"),
                  d("error",res,lang)
                )."<br /><br />"
            })
        
      },
   getpost("trash")!="",
      {
        list_fields="";
        if(empty(getpost("trash_fields")),
               <![NOFIELD[~d("nofield")<br /><br />
               ]NOFIELD]>,
             {
              displaymain=0,
              hidden=array(),
              list_fields.=array_list(getpost("trash_fields"),0,,'LF',{one=array_fld("countall")<2,""},
                 'LS',',',
                 'LM',{hidden["trash_fields[~array_fld('count')]"]=array_fld('key'),array_fld('key')}),
               <![OKTRASH[  
                ~if(one,
                     d("asktrash1",list_fields),
                     d("asktrash2",list_fields)
                   )
          <form method="post" action="~relative_templeet_script()~string(path)">
            ~makehidden(hidden)
            <button class="button_ok" type="submit" name="oktrash" value="1" 
                    onmouseover="toggleDiv('inf_oktrash',1,event)" 
                    onmouseout="toggleDiv('inf_oktrash',0)"></button>
            <button class="button_cancel" name="cancel" value="1" 
                    onmouseover="toggleDiv('inf_canceltrash',1,event)" 
                    onmouseout="toggleDiv('inf_canceltrash',0)"></button>
          </form>
          <div id="inf_oktrash" class="floatwin">~d("oktrash")</div>
          <div id="inf_canceltrash" class="floatwin">~d("canceltrash")</div>
               ]OKTRASH]>
             }
          )     
      },
   getpost("oktrash")!="",
      {
        res=auth_delfield(~getpost("trash_fields"));
        if(res==0,
            d("delok"),
            d("error",res,lang)
          )."<br /><br />"
      },      
   getpost("validlabel")!="",
      { 
        #labels["label"]=~getpost("label");
        ffa_writefile('templeet/auth/labels',#labels);
        ""
      }
      
      
)

<script type="text/javascript">
//<![CDATA[
var listfield= new Array(~array_list(auth_readfields(),0,,
'LM',"'~array_fld('key')'",
'LS',','));
var listlang= new Array(~array_list(#labels["lang"],0,,
'LM',"'~array_fld('key')'",
'LS',','));


function changeLang( box ) {
  ok=0;
  for ( field = 0; field < listfield.length; field++ ) {
    for ( lang = 0; lang < listlang.length; lang++ ) {
      if (document.getElementById("divlabel_"+listlang[lang]+"_"+listfield[field]))
        if (box.options[box.selectedIndex].value==listlang[lang])
            {
              document.getElementById("divlabel_"+listlang[lang]+"_"+listfield[field]).style.display='inline';
              ok=1;
            }  
          else
            {
              document.getElementById("divlabel_"+listlang[lang]+"_"+listfield[field]).style.display='none';
            }
    }
    if (ok)
      document.getElementById("divlabel_0_"+listfield[field]).style.display='none';
  }  
}
//]]>
</script>

~if(displaymain,
<![MAIN[
<form method="post" id="fieldform" action="~relative_templeet_script()~string(path)">
<div>
<table class="lo" style="border: 1px solid black; padding: 5px; border-collapse: collapse;">
<tr>
  <td class="lo">~d("field")</td>
  <td class="lo">~d("userhide")</td>
  <td class="lo">~d("fieldtype")</td>
  <td class="lo">~d("fieldparam")</td>
  <td class="lo"></td>
  <td class="lo">~d("trashcolumn")</td>
  <td class="lo"></td>
  <td class="lo"></td>
  <td class="lo">~d("labels")
  <select name="displaylang" onchange="changeLang(this);">
  ~array_list(#labels["lang"],0,,
"LD",<![LD[<option value="0">~d("nodefinedlang")</option>
]LD]>,
"LE",<![LD[<option value="0">~d("nodefinedlang")</option>
]LD]>,
"LM",<![LM[<option value="~array_fld('key')">~array_fld('key')</option>
]LM]>)

  
  </select>
  </td>
</tr>
~array_list(auth_readfields(),0,,
'LM',
{
  #field=array_fld('current'),
  if(empty(#field["nodisp"]),
<![USER_INFO[
<tr ~if(~array_fld('key')=="userspace",<![STYLE[style="border-bottom: solid 1px black;" ]STYLE]>)>
  <td class="lo">~string(fieldname=array_fld('key'))
  </td>
  <td class="lo" style="text-align: center;">
     ~if(#field["desc"]["userhide"],'<img src="~imagepath()auth/icons/check-small.png" style="display: inline;vertical-align:middle;">')
  </td>
  <td class="lo">
     ~showtype(#field["desc"]["type"])
  </td>
  <td class="lo">
     ~showparam(#field["desc"])
  </td>
  <td class="lo" style="text-align: center;">
     <input type="image" name="getmodrow" value="~array_fld('key')" 
            style="vertical-align:middle;"
            src="~imagepath()auth/icons/modify-type.png"  
            onmouseover="toggleDiv('inf_modtype',1,event)" 
            onmouseout="toggleDiv('inf_modtype',0)" />
  </td>
  <td class="lo" style="text-align: center;">
     <input type="checkbox" name="trash_fields[~array_fld('key')]"  />
  </td>
  <td class="lo" style="text-align: center;">
       ~if(!empty(array_fld('keynext')),
          <![DOWN[
            <button name="swap" value="~array_fld('key')" 
             ><img src="~imagepath()auth/icons/move_down.png" style="display: inline;vertical-align:middle;" alt="down" /></button>
          ]DOWN]>)
  </td>
  <td class="lo" style="text-align: center;">
       ~if(!empty(array_fld('keyprev')),
          <![UP[
            <button name="swap" value="~array_fld('keyprev')" 
             ><img src="~imagepath()auth/icons/move_up.png" style="display: inline;vertical-align:middle;" alt="up" /></button>
          ]UP]>)
  </td>
  
  
  <td class="lo" style="text-align: center;">
     ~if(#field["desc"]["type"]=="sep",
         <![SEP[<hr style="width:90%; vertical-align: baseline;" />
<input type="hidden" name="label[~string(fieldname)][~array_fld('key')]" value="" />
         ]SEP]>,
         <![LABEL[
    <div id="divlabel_0_~string(fieldname)" >~d("nodefinedlang")</div>
    ~array_list(#labels["lang"],0,,
"LM",<![LM[<div id="divlabel_~array_fld('key')_~string(fieldname)" style="display:none;">
<input type="text" name="label[~string(fieldname)][~array_fld('key')]" value="~string(#labels["label"][fieldname][array_fld('key')])" size="40" />
</div>
]LM]>)
         ]LABEL]>)
  </td>
  
  
  
</tr>
]USER_INFO]>)
})
<tr>
  <td class="lo"></td>
  <td class="lo"></td>
  <td class="lo"></td>
  <td class="lo"></td>
  <td class="lo"><input type="image" name="getaddrow" value="1" src="~imagepath()auth/icons/new_row.png"
                        style="display: inline;vertical-align:middle;"
                        onmouseover="toggleDiv('inf_addrow',1,event)" 
                        onmouseout="toggleDiv('inf_addrow',0)" /></td>
  <td class="lo" style="text-align: center;">
                <button class="button_trash" name="trash" value="1" 
                    onmouseover="toggleDiv('inf_trash',1,event)" 
                    onmouseout="toggleDiv('inf_trash',0)"></button></td>
  <td class="lo"></td>
  <td class="lo"></td>
  <td class="lo"><button class="button_ok" type="submit" name="validlabel" value="1" 
                    onmouseover="toggleDiv('inf_validlabel',1,event)" 
                    onmouseout="toggleDiv('inf_validlabel',0)"></button></td>
</tr>
</table>
<br />
</div>
</form>
<script type="text/javascript">
//<![CDATA[
  ~if(preg_match("/^[a-z]{2}$/",getpost("displaylang")),
       <![[document.getElementById('fieldform').displaylang.value="~getpost("displaylang")";
       ]]>     
     )
  changeLang(document.getElementById('fieldform').displaylang);
//]]>
</script>

<div id="inf_validlabel" class="floatwin">~d("inf_validlabel")</div>
<div id="inf_trash" class="floatwin">~d("inf_trash")</div>
<div id="inf_addrow" class="floatwin">~d("inf_addrow")</div>
<div id="inf_modtype" class="floatwin">~d("inf_modtype")</div>
<div id="inf_label" class="floatwin">~d("label")</div>


~string(message)

<form method="post" action="~relative_templeet_script()~string(path)">
<div>
~array_list(#labels["lang"],0,,
"LD",d("nodefinedlang"),
"LE",d("nodefinedlang"),
"LF",<![LF[<table class="lo" style="border: 1px solid black;">]LF]>,
"LM",<![LM[
<tr><td>~array_fld('key')</td>
   <td>~string(#iso639["fr"][~array_fld('key')])</td>
   <td><button class="button_trash" name="trash_lang[~array_fld('key')]" value="1" 
                    onmouseover="toggleDiv('inf_trashlang',1,event)" 
                    onmouseout="toggleDiv('inf_trashlang',0)" style="vertical-align: baseline;"></button></td>
   
   </tr>]LM]>,
"LL",<![LL[</table>]LL]>)
<br /><br />
~d("addlang")
<table class="lo">
<tr> 
  <td>
     <select name="lang">
       ~rem(
             langiso=chooselang(lang,array_keys(#iso639),"00");
           )
       ~if(lang!="en" && isset(#iso639[langiso][lang]),<![DEFAULTLANG[<option value="~string(lang)">~string(#iso639[langiso][lang])</option>
         ]DEFAULTLANG]>)
       <option value="en" style="border-bottom: 1px solid black;">~string(#iso639[langiso]["en"])</option>
       ~array_list(#iso639[langiso],0,,
         "LM",
           <![LM[<option value="~array_fld('key')">~array_fld('current')</option>
           ]LM]>)
     </select>  
  </td> 
  <td>
    <button class="button_ok" type="submit" name="addlang" value="1" 
      onmouseover="toggleDiv('inf_validlang',1,event)" 
      onmouseout="toggleDiv('inf_validlang',0)"></button>
  </td>
</tr>

</table>
</div>              
</form> 
           
<div id="inf_trashlang" class="floatwin">~d("inf_trashlang")</div>
<div id="inf_validlang" class="floatwin">~d("inf_validlang")</div>
  
]MAIN]>)

]MAIN]>,
"00_home;20_admin;75_configuration")

