﻿~includelang("configurator")
~getauth('ADMIN',1)
~include("/skins/skin.tmpl",
<![MAIN[

<h2>~d("title")</h2>
~rem(res=configurator())
~if(res<0,
    d("error").res,
    <![CONFIG[
<table>    
~array_list(res,0,,'LM',
  switch(
     array_fld('current')==1,
       "<tr><td>~array_fld('key')</td><td>~d("nophp")</td></tr>",
     array_fld('current')==2,
       "<tr><td>~array_fld('key')</td><td>~d("lib")</td></tr>",
     array_fld('current')==3,
       "<tr><td>~array_fld('key')</td><td>~d("mod")</td></tr>"
   ))
</table>    
<h2>~d("OK")</h2>]CONFIG]>)
]MAIN]>,
"00_home;20_admin;75_configuration")