﻿~includelang("confvalid")
~getauth('ADMIN',1)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
<h1>~d("title")</h1>

~if(getpost("action")!="",
  {
    res=auth_setconfvalid(getpost('valid'));
    if(res==0,
        d("methodchanged"),
        d("error",res)
      )
  })
<form method="post" action="~relative_templeet_script()auth/confvalid.html.~string(lang)">
<div>
~d("validmode")<br />
<select name="valid">
<option value="NO" ~if(auth_validmode()=='NO','selected="selected" ')>~d("no")</option>
<option value="YES" ~if(auth_validmode()=='YES','selected="selected" ')>~d("yes")</option>
<option value="CONFIRM" ~if(auth_validmode()=='CONFIRM','selected="selected" ')>~d("confirm")</option>
<option value="CONFADMIN" ~if(auth_validmode()=='CONFADMIN','selected="selected" ')>~d("doubleconfirm")</option>
</select><br />
<br />
~d("help")
<button class="button_ok" type="submit" name="action" value="set"
        onmouseover="toggleDiv('inf_valid',1,event)"
        onmouseout="toggleDiv('inf_valid',0)"></button>
</div>
</form>

<br />
<br />
<div id="inf_valid" class="floatwin">~d("inf_valid")</div>

]MAIN]>,
"00_home;20_admin;75_configuration")