﻿~rem(
  includelang("createuser");
  if(getconf('createuserspriv'),
     getauth('CREATEUSER',1),
     getauth('',-1)
   );
  #labels=ffa_readfile('templeet/auth/labels');
  displayform=1;
  include("profile.tmpl");
)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
<h1>~d("title")</h1>

~if(getpost('ok')!="",
  {
    if(getpost('password')!=getpost('password2'),
          errormessage["#password#"]=d("badpass"));

    captchaok=if(function_exists("captcha"),
               {
                 captchainfo=explode("!",getpost("captchainfo"));
                 switch(
                   time()>captchainfo[1],
                     {
                       errormessage["#captcha#"]=d("captchatimeout");
                       0
                     },
                   getserver("REMOTE_ADDR")!=captchainfo[0] || 
                      sha1(captchainfo[0]."!".captchainfo[1]."!".captchainfo[2].captcha_getsecretkey())!=captchainfo[3] ||
                      captcha_randstr(6,sha1(captcha_getsecretkey().captchainfo[2]))!=getpost("captcha"),
                     {
                       errormessage["#captcha#"]=d("captchaerror");
                       0
                     },
                   1
                 )
               },
               1);
               
    profile=getpost('profile');

    if(checkparam()==0 && getpost('password')==getpost('password2') && captchaok,
        {
          if(auth_validmode()=='NO',
              newuser=auth_newuser(getpost('userspace'),getpost('user'),getpost('password'),profile,getpost('email'),
                d("subjectadmin"),
                d("bodyadmin"),
                array("Content-type" => d("contenttypeadmin"))),
              newuser=auth_newuser(getpost('userspace'),getpost('user'),getpost('password'),profile,getpost('email'),
                d("subject"),
                d("body"),
                array("Content-type" => d("contenttype")))
            );
          if(newuser >= 0,
            {
              displayform=0;
              switch(
                auth_validmode()=='CONFIRM' || auth_validmode()=='CONFADMIN',
                  d("conf",getpost('user')),
                auth_validmode()=='NO',
                  d("no",getpost('user')),
                auth_validmode()=='YES',
                  d("yes",getpost('user')).
                  if(setauth(getpost('user'),getpost('password'))==0,
                    d("ident"))
               )
             },
             d("error",newuser)
            )
        })
  })
~if(displayform,
    <![FORM[    
      
     
      <form method="post" action="~relative_templeet_script()~string(path)">
      <div>
      <input type="hidden" name="profile[#]" value="#" />
      <table class="lo">
      ~array_list(auth_userspace(),0,,
          'LD',<![LDUSERSPACE[
          <input type="hidden" name="userspace" value="0">
          ]LDUSERSPACE]>,
          'LF',<![LFUSERSPACE[
          <tr><td>Userspace:</td>
              <td><select name="userspace">
          ]LFUSERSPACE]>,
          'LM',<![USERSPACE[
           <option value="~array_fld('key')"~if(lastauth_userspace==array_fld('key'),' selected="selected"')>~array_fld('current')</option> 
           ]USERSPACE]>,
          'LL','</select></td></tr>'
        )


      <tr><td>~if(auth_emailislogin() ,d("email"),d("login"))</td>
          <td><input type="text" name="user" size="20" value="~htmlspecialchars(getpost("user"))" class="form" /></td></tr>
      
      <tr><td></td><td>~if(!empty(errormessage["#password#"]),errormessage["#password#"])</td></tr>
      <tr><td>~d("pass")</td><td><input type="password" name="password" size="20" value="~htmlspecialchars(getpost("password"))" class="form" /></td></tr>
      <tr><td>~d("pass2")</td><td><input type="password" name="password2" size="20" value="~htmlspecialchars(getpost("password2"))" class="form" /></td></tr>
      ~if((auth_validmode()=='CONFIRM' || auth_validmode()=='CONFADMIN') && !auth_emailislogin() ,'
      <tr><td>~d("email")</td><td><input type="text" name="email" size="20" value="~htmlspecialchars(getpost("email"))" class="form" /></td></tr>
      ')
      
      ~array_list(auth_readfields(),0,,
        "LM",
          {
            fieldname=array_fld('key');
            field=array_fld('current');
            if(isset(#labels["label"][fieldname]),
                 label=#labels["label"][fieldname][chooselang(lang,#labels["label"][fieldname])];
                 label=""
              );
            if(empty(field["desc"]["userhide"]), 
              <![LM[
                <tr>
                  ~switch(
                    field["desc"]["type"]=="title",
                      <![TITLE[
                        <td colspan="2">       
                          <h2>~string(label)</h2>
                        </td>
                      ]TITLE]>,
                    field["desc"]["type"]=="sep",
                      <![SEP[
                        <td colspan="2">       
                          <hr style="width:80%;">
                        </td>
                      ]SEP]>,
                      <![FIELD[
                        <td></td>
                        <td style="padding-top: 1em;">
                          ~if(!empty(errormessage[fieldname]),<![ERROR[<div class="error_line">~string(errormessage[fieldname])</div>]ERROR]>)
                        </td>
                        </tr><tr>
                        <td>~string(label)</td>
                        <td>
                          ~showinput(fieldname,field["desc"],
                              if(empty(getpost("profile")),
                                  field["desc"]["default"],
                                  profile[fieldname]
                                )
                              )
                        </td>
                      ]FIELD]>
                    )
                </tr>
              ]LM]>)
          })
      ~if(function_exists("captcha"),
         <![CAPTCHA[
      <tr>
        <td></td>
        <td>
        ~rem(
          rand=auth_mkrdstr(16);
          captchainfo=getserver("REMOTE_ADDR")."!".(time()+(3*60))."!".rand;
        )
        <img src="~imagepath()auth/captcha,~string(rand).png" alt="captcha" />
        </td>
      </tr>
      <tr>
        <td><input type="hidden" name="captchainfo" value="~string(captchainfo)!~sha1(captchainfo.captcha_getsecretkey())" /></td>
        <td>~if(!empty(errormessage["#captcha#"]),errormessage["#captcha#"])</td>
      </tr>
      <tr>
        <td>~d('getcaptcha')</td>
        <td>
        <input type="text" name="captcha" size="6" />
        </td>
      </tr>
         ]CAPTCHA]>)
      <tr>
        <td></td>
        <td><button class="button_ok" type="submit" name="ok" value="1"
         onmouseover="toggleDiv('inf_valid',1,event)" 
         onmouseout="toggleDiv('inf_valid',0)" ></button>
        </td>
      </tr>
      
      </table>
      </div>
      </form>
      <div id="inf_valid" class="floatwin">Validation.</div>
    ]FORM]>) 
    
]MAIN]>,
"00_home;30_myaccount")
