﻿~rem(
  includelang("debuginfo");
  linkcss[]="debuginfo.css";
  getauth('ADMIN',1);
)
~include("/skins/skin.tmpl",
<![MAIN[

<div style="text-align: center;"> 
  
<table class="center">
<tr><td>error404used:</td><td>~getconf('error404used')</td></tr>
<tr><td>usepagecache:</td><td>~getconf('usepagecache')</td></tr>
<tr><td>useincludecache:</td><td>~getconf('useincludecache')</td></tr> 
<tr><td>usetemplatecache:</td><td>~getconf('usetemplatecache')</td></tr> 
<tr><td>pathinfoaccepted:</td><td>~getconf('pathinfoaccepted')</td></tr>
<tr><td>cgi_header:</td><td>~getconf('cgi_header')</td></tr>
</table>
<br />
<br />
~rem( 
  txt=php_info();
  txt=preg_replace(array(
                     "/<font/",
                     "/font>/"),
                   array(
                     "<span",
                     "span>")
                     ,txt);
  )
~string(txt)
</div>

]MAIN]>,
"00_home;20_admin;75_configuration")