   .center { text-align: center; margin-left:auto; margin-right:auto;}
   .center table, table.center { border: 1px solid black; text-align: center; margin-left:auto; margin-right:auto;padding: 0.1em 0.2em; }
   .center  table > tbody > tr > td,
   .center  table > tbody > tr > th
    { border: 1px solid black; margin: 2px; padding: 0.1em 0.2em;}
