﻿~includelang("editconfig")
~getauth('ADMIN',1)
~include("/skins/skin.tmpl",
<![MAIN[

<script src="~relative_templeet()auth/selectdiv.js" type="text/javascript"></script>
~if(getpost('ok') != '',
    {
      include('editconfig.tmpl','ok');
      if(okreg,redirect(site_url.relative_templeet().'auth/editconfig.html'.if(lang!="",".".lang)))
    }  
   )

~rem(  
  configfile=file_get_contents('templeet/config.php'),
  emailadmin=preg('/\$config\[\'emailadmin\'\] = \'(.*)\';/',configfile)
)

~if(getpost('ok') != '' && !okreg,
  <![ERR[<font color="red">~d("regerror")</font> ]ERR]>
)

<form method="post" action="~relative_templeet_script()auth/editconfig.html~if(lang!="",".".lang)">

<table class="lo">

<tr><td valign="top" colspan="2">

<h2>~d("sqlconf")</h2>

</td></tr>

<tr><td valign="top">
~ls( ~getconf('modulesdir').'list', "/^list_(.*)\.php$/i", "file", "N", 0, ,
   'LM',{ 
          matches=ls_fld("matches"),
          dbtypes[matches[1]]=evalanonfunc("tools_".matches[1]."_param")
        }
   )
   
~rem(sqlconfig=getconf('sqlconfig'),
     sqlconfig[""]=array("type"=>matches[1]) 
    )
~array_list(sqlconfig,1,,
   'LF',<![LF[
         <table class="chart">
         <tr>
           <td>~d("alias")</td>
           <td>~d("type")</td>
           <td>~d("parameter")</td>
         </tr>
         ]LF]>,
  'LM',<![LM[
         ~rem(sqlconfig_count=~array_fld('count'),alias=~array_fld('key'))
         <tr>
           <td style="vertical-align: baseline;">
             <input type="text" value="~array_fld('key')" name="sqlconfig[~string(sqlconfig_count)][alias]" size="10" class="form"/> 
           </td>
           ~rem(parameters=array_fld('current'))
           <td style="vertical-align: baseline;">
             <select name="sqlconfig[~string(sqlconfig_count)][type]" onchange="selectDiv(this,'sqlconfig_~string(sqlconfig_count)_',new Array(~array_list(dbtypes,0,,
                'LS',',','LM','\'~array_fld('key')\'')))" >
              ~array_list(dbtypes,0,,'LM',
                 <![LM[
                   <option class="form" value="~array_fld('key')"
                      ~if(parameters['type']==~array_fld('key'),' selected="selected"') >~array_fld('key')</option>
                   ]LM]>)
             </select>
           </td>
           <td>
             ~array_list(dbtypes,0,,
                'LM',
                  {
                    type=array_fld('key');
                    function_param=dbtypes[type];
                    <![METHOD[<div id="sqlconfig_~string(sqlconfig_count)_~array_fld('key')" style="display: ~if(parameters['type']==type,'inline','none')">
~authtools_getparam("sqlconfig[~string(sqlconfig_count)]","[".type."]",function_param(),d("noparam"),sqlconfig[alias])
</div>
                    ]METHOD]>
                  })
           </td>
         </tr>
              
       ]LM]>,
  'LL',<![LL[
     <tr><td colspan="3" style="text-align: left;"><button class="button_ok" type="submit" name="ok" value="1"></button></td></tr>

  </table>
  ]LL]>,'LD','?!
')

</td><td valign="top" class="editconfig_help">
<p>
~d("sqlhelp")

</p>
</td></tr>

<tr><td valign="top" colspan="2">
<h2>~d("defaultlang")</h2>
</td></tr>

<tr><td valign="top">
<select name="default_language" class="form">
<option class="form" value="fr"~if(~getconf('default_language')=='fr',' selected="selected"')>français</option>
<option class="form" value="en"~if(~getconf('default_language')=='en',' selected="selected"')>anglais</option>
</select>

</td><td valign="top" class="editconfig_help">
~d("langhelp")

</td></tr>
<tr><td colspan="2"><button class="button_ok" type="submit" name="ok" value="1"></button></td></tr>

<tr><td valign="top" colspan="2">
<h2>~d("emailadmin")</h2>
</td></tr>

<tr><td valign="top">
<input type="text" name="emailadmin" value="~string(emailadmin)" />

</td><td valign="top" class="editconfig_help">
~d("emailhelp")
</td></tr>
<tr><td colspan="2"><button class="button_ok" type="submit" name="ok" value="1"></button></td></tr>

<tr><td valign="top" colspan="2">
<h2>~d("userarea")</h2>
</td></tr>

<tr><td valign="top">


~makeselect("maxuserarea",~getconf('maxuserarea'),array(
0 => 0,
1 => 1,
2 => 2,
3 => 3,
4 => 4,
5 => 5,
10 => 10,
15 => 15,
20 => 20)
)

</td><td valign="top" class="editconfig_help">
~d("userareahelp")
</td></tr>

<tr><td colspan="2"><button class="button_ok" type="submit" name="ok" value="1"></button></td></tr>

<tr><td valign="top" colspan="2">
<h2>~d("createuser")</h2>
</td></tr>

<tr><td valign="top">


~makeselect("createuserspriv",getconf('createuserspriv'),array(
0 => 0,
1 => 1)
)

</td><td valign="top" class="editconfig_help">
~d("createuserhelp")
</td></tr>

<tr><td valign="top" colspan="2">
<h2>~d("createuserspace")</h2>
</td></tr>

<tr><td valign="top">


~makeselect("createuserspacepriv",getconf('createuserspacepriv'),array(
0 => 0,
1 => 1)
)

</td><td valign="top" class="editconfig_help">
~d("createuserspacehelp")
</td></tr>


<tr><td colspan="2"><button class="button_ok" type="submit" name="ok" value="1"></button></td></tr>


<tr><td colspan="2" valign="top">
<h2>~d("html2template")</h2>
</td></tr>

<tr><td>
~array_list(getconf("html2template_array"),1,, 'LM','

		<tr><td>
		<input type="text" class="form" size="40" name="html2template_reg[~array_fld('count')]" value="~str_replace('"','\"',~array_fld('key'))"/>
		</td><td>
		<input type="text" class="form" size="20" name="html2template_template[~array_fld('count')]" value="~str_replace('"','\"',~array_fld('current'))"/>
		</td></tr>
	','LF','
		<table class="chart">
		<tr><td style="text-align: left;">Regexp</td><td style="text-align: left;">Template</td></tr>
	','LL','

		~rem(counttmp=array_fld('count')+1;)

		<tr><td>
		<input type="text" class="form" size="40" name="html2template_reg[~string(counttmp)]" value=""/>
		</td><td>
		<input type="text" class="form" size="20" name="html2template_template[~string(counttmp)]" value=""/>
		</td></tr>

		<tr><td colspan="2"><button class="button_ok" type="submit" name="ok" value="1"></button></td></tr>
		</table>
        ','LD','
		<table class="chart">
		<tr><td style="text-align: left;">Regexp</td><td style="text-align: left;">Template</td></tr>
		<tr><td>
		<input type="text" class="form" size="40" name="html2template_reg[1]" value=""/>
		</td><td>
		<input type="text" class="form" size="20" name="html2template_template[1]" value=""/>
		</td></tr>

		<tr><td colspan="2" style="text-align: left;"><button class="button_ok" type="submit" name="ok" value="1"></button></td></tr>
		</table>
		
')

</td><td valign="top" class="editconfig_help">
<p>
~d("html2templatehelp")
</p>
</td></tr>



</table>

</form>
]MAIN]>,
"00_home;20_admin;75_configuration")