﻿~rem(
  includelang("lostpass");
  getauth('',-1);
  if(auth_user!="",
      getauth('ADMIN',1)
    )
)
~include("/skins/skin.tmpl",
<![MAIN[
<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>

~if(get_filenamevar(1)!="",
    if(getpost("ok")!="",
      <![SETPASS[
        <h1>~d("title2")</h1>
        ~if(getpost('newpassword1')!=getpost('newpassword2'),
           d("badconfirm"),
           "<p>".
            {
              res=auth_validaccount(getpost('uid'),getpost('key'),getpost('newpassword1')),
              if(res==0,
                  d('okchpass'),
                  d("error",res)
                )
            }.
           "</p>"
           )
      ]SETPASS]>,
      <![FORM[
        <h1>~d("title1")</h1>
        <p>
        <i>~d("getpass")</i>
        </p>
        <form method="post" action="~relative_templeet_script()~string(path)">
        <input type="hidden" name="uid" value="~get_filenamevar(1)">
        <input type="hidden" name="user" value="~get_filenamevar(2)">
        <input type="hidden" name="key" value="~get_filenamevar(3)">
        <table class="lo">
        
        <tr><td>~d("pass1")</td><td><input type="password" name="newpassword1" size="40"></td></tr>
        <tr><td>~d("pass2")</td><td><input type="password" name="newpassword2" size="40"></td></tr>
        <tr>
          <td></td>
          <td>
            <button class="button_ok" type="submit" name="ok" value="1"
                onmouseover="toggleDiv('inf_ok',1,event)" 
                onmouseout="toggleDiv('inf_ok',0)"
               ></button>
          </td>
        </tr>
        </table>
        </form>
        <div id="inf_ok" class="floatwin">~d("inf_ok")</div>
      ]FORM]>),
   <![LOSTPASS[
    <h1>~d("title")</h1>
    ~rem(
      displayform=1;
    )  
    ~if(getpost("ok")!="",
      {
        captchaok=if(function_exists("captcha"),
          {
            captchainfo=explode("!",getpost("captchainfo"));
            switch(
              time()>captchainfo[1],
                {
                  errormessage["#captcha#"]=d("captchatimeout");
                  0
                },
              getserver("REMOTE_ADDR")!=captchainfo[0] || 
                 sha1(captchainfo[0]."!".captchainfo[1]."!".captchainfo[2].captcha_getsecretkey())!=captchainfo[3] ||
                 captcha_randstr(6,sha1(captcha_getsecretkey().captchainfo[2]))!=getpost("captcha"),
                {
                  errormessage["#captcha#"]=d("captchaerror");
                  0
                },
              1
            )
          },
          1);
        if(captchaok,
          {
            displayform=0;
            uid=auth_setkeypass(getpost('auth_userspace'),getpost('user_login'),
            d("subjectmail"),
            d("bodymail"),
            array("Content-Type" => d("contenttype"))),
            if(uid >= 0,d("mailsent"),
              d("error",uid)
            )
          });
      })
    ~if(displayform,
       <![FORM[
          <form method="post" action="~relative_templeet_script()~string(path)">
          <table class="lo">
          ~array_list(auth_userspace(),0,,
          'LD',<![LDUSERSPACE[<input type="hidden" name="auth_userspace" value="0">
          ]LDUSERSPACE]>,
          'LF',<![LFUSERSPACE[
          <tr><td>~d("userspace")</td>
          <td><select name="auth_userspace">
          ]LFUSERSPACE]>,
          'LM',<![USERSPACE[
          <option value="~array_fld('key')">~array_fld('current')</option> 
          ]USERSPACE]>,
          'LL','</select></td></tr>'
          )
          
          <tr><td>~d("login")</td><td><input type="text" name="user_login" size="20" value="" class="form" /></td></tr>
          ~if(function_exists("captcha"),
             <![CAPTCHA[
              <tr>
                <td></td>
                <td>
                ~rem(
                  rand=auth_mkrdstr(16);
                  captchainfo=getserver("REMOTE_ADDR")."!".(time()+(3*60))."!".rand;
                )
                <img src="~imagepath()auth/captcha,~string(rand).png" alt="captcha" />
                </td>
              </tr>
              <tr>
                <td><input type="hidden" name="captchainfo" value="~string(captchainfo)!~sha1(captchainfo.captcha_getsecretkey())" /></td>
                <td>~if(!empty(errormessage["#captcha#"]),errormessage["#captcha#"])</td>
              </tr>
              <tr>
                <td>~d('getcaptcha')</td>
                <td>
                <input type="text" name="captcha" size="6" />
                </td>
              </tr>
             ]CAPTCHA]>)
          <tr>
            <td></td>
            <td>
              <button class="button_ok" type="submit" name="ok" value="1"
                onmouseover="toggleDiv('inf_valid',1,event)" 
                onmouseout="toggleDiv('inf_valid',0)"
               ></button>        
            </td>
          </tr>
          </table>
          
          </form>
          <div id="inf_valid" class="floatwin">~d("inf_valid")</div>
       ]FORM]>)
   ]LOSTPASS]>)
   
   

]MAIN]>,
"00_home;30_myaccount")

