﻿~includelang("method")
~getauth('ADMIN',1)
~include("/skins/skin.tmpl",
<![MAIN[
<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
<script src="~relative_templeet()auth/selectdiv.js" type="text/javascript"></script>
~if(_POST['action']=='set',
   {
     res=auth_setmethod(_POST['method']['type'],_POST['method'][_POST['method']['type']]),
     if(res!="",
          d("error",res),
          {
            nodisplayform=1,
            d("newmethod",_POST['method']['type'])
          })
   })

~if(empty(nodisplayform),   
   <![PARAM[
~rem(ls('templeet/modules/auth','/^auth_.*\.php$/i','f','S',,,
		'LM',methods[~preg('/auth_(.*)/',~ls_fld('rfile'))]=1))

<h1>~d("title")</h1>
~if(getpost('action')=='set',
    {
      setmethod=_POST['method']['type']
    },
    {
      setmethod=auth_getmethod();
      "~d("currentmethod",auth_getmethod())<br />"
    }  
  )
  

<form method="post" action="~relative_templeet_script()~string(path)">
<div>
<table class="chart" style="vertical-align: baseline; border: 0;">
<tr><td style="vertical-align: baseline; border: 0;">
~array_list(methods,0,,
		'LF',<![LF[<select name="method[type]" onchange="selectDiv(this,'method_',new Array(~array_list(methods,0,,
                'LS',',',
		'LM','\'~array_fld('key')\'')))" >]LF]>,
		'LL','</select>',
		'LM',
		  {
  		  method=array_fld('key'),
		   <![METHOD[<option value="~string(method)" ~if(setmethod==method,"selected=\"selected\"")>~string(method)</option>
]METHOD]>
      })
</td>
<td style="vertical-align: baseline; border: 0;">
~array_list(methods,0,,
		'LM',
		{
  		method=array_fld('key'),
		  <![METHOD[<div id="method_~string(method)" style="display: ~if(setmethod==method,'inline','none');">
~auth_methodparam(method,~d("noparam"),_POST['method'][method])
</div>
]METHOD]>
    })
</td>
</tr>
</table>
<button class="button_ok" type="submit" name="action" value="set"
        onmouseover="toggleDiv('inf_valid',1,event)"
        onmouseout="toggleDiv('inf_valid',0)"></button>
</div>
</form>

<div id="inf_valid" class="floatwin">~d("inf_valid")</div>
]PARAM]>)

]MAIN]>,
"00_home;20_admin;75_configuration")