﻿~includelang("newuser")
~getauth('CREATEUSER',1)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>

<h1>~d("title")</h1>

<script type="text/javascript">
//<![CDATA[
function selectcreateuserspace( box) {

  if (box.options[box.selectedIndex].value==0)
	      {
		      document.getElementById("createuserspace1").style.display='inline';
		      document.getElementById("createuserspace2").style.display='inline';
	      }  
	    else
	      {
		      document.getElementById("createuserspace1").style.display='none';
		      document.getElementById("createuserspace2").style.display='none';
	      }
}
//]]>
</script>

~if(getpost('password')!='' || getpost('password')!='',
    {
      ~if(getpost('password')!=getpost('password2') || getpost('password')=='',
           d("badpass"),
           {
             newuser=auth_newuser(if(empty(getpost('auth_createuserspace')),getpost('auth_userspace'),-1),
                                  getpost('user'),
                                  getpost('password'),
                                  ,
                                  getpost('email'),
                                  ~d("subjectmessage"),
                                  ~d("bodymessage"),
                                  array("Content-type" => "text/plain; charset=utf-8"),
                                  1),
             if(newuser<0,
                 res=include('displayautherror.tmpl',newuser,lang),
                 {
                   res=~d("accountcreated"),
                   
                   if(auth_validmode()=='CONFIRM' || auth_validmode()=='CONFADMIN',
                      res.="<br />".d("emailsent"))
                 }
               ),  
             res
           }
         )  
    },
    <![FORM[
<form method="post" action="~relative_templeet_script()~get_dirname()newuser.html~if(lang!="",".".lang)">
<table class="lo">

~array_list(auth_userspace(),0,,
'LD',<![LDUSERSPACE[<tr style="display: none;"><td><input type="hidden" name="auth_userspace" value="0"></td><td></td></tr>
]LDUSERSPACE]>,
'LF',<![LFUSERSPACE[
<tr><td>~d("userspace")</td>
<td><select name="auth_userspace" onchange="selectcreateuserspace(this)">
]LFUSERSPACE]>,
'LM',<![USERSPACE[
<option value="~array_fld('key')"~if(lastauth_userspace==array_fld('key'),' selected="selected"')>~array_fld('current')</option> 
]USERSPACE]>,
'LL','</select></td></tr>'
)

<tr><td>~if(auth_emailislogin() ,d("email"),d("login"))</td><td><input type="text" name="user" size="20" value="" class="form" /></td></tr>

<tr><td>~d("pass")</td><td><input type="password" name="password" size="20" value="" class="form" /></td></tr>
<tr><td>~d("passconfirm")</td><td><input type="password" name="password2" size="20" value="" class="form" /></td></tr>

~if((auth_validmode()=='CONFIRM' || auth_validmode()=='CONFADMIN') && !auth_emailislogin() ,'
<tr><td>~d("email")</td><td><input type="text" name="email" size="20" value="" class="form" /></td></tr>
')
~if(getpriv("ADMIN"),<![USERSPACE[
<tr ><td><div id="createuserspace1">~d("createuserspace")</div></td><td><div id="createuserspace2"><input type="checkbox" name="auth_createuserspace" value="1" class="form" /></div></td></tr>
]USERSPACE]>)
 <tr><td></td><td><button class="button_ok" type="submit"
         onmouseover="toggleDiv('inf_valid',1,event)" 
         onmouseout="toggleDiv('inf_valid',0)"
 ></button></td></tr>

</table>
</form>

<p>
<i>~d("note")</i>
</p>

<div id="inf_valid" class="floatwin">~d("valid")</div>
]FORM]>
   ) 

]MAIN]>,
"00_home;20_admin")
