﻿~includelang("nopriv")
~getauth('',-1)
~include("/skins/skin.tmpl",
<![MAIN[
<table class="chart" style="margin: auto;"><tr><td style="text-align:left; padding: 10px;">

<h1>~d("title")</h1>

<p>
~d("nopriv")
</p>
</td></tr></table>
]MAIN]>,
"")
