﻿~rem(
  includelang("priveditsingle");
  getauth('{}ADMIN',0);
  #labels=ffa_readfile('templeet/auth/labels');
  displayform=1;
  include("profile.tmpl");
  uid=get_filenamevar(1);
  info=auth_getinfo(uid);
  if(is_array(info),
    {
      if(getpost("userspace")=="",
        userspace=info['userspace'],
        userspace=getpost("userspace"));
    },
    {
      message=d("nouser");
      displayform=0;
    })

)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>
<h1>~d("title")</h1>
~switch(
   getpost("trash")!="",
     {
       displayform=0;
       <![TRASH[
         <h1>~d("delete")</h1>
         <form method="post" action="~relative_templeet_script()~string(path)">
         ~auth_getbyuid(uid,"nickname")<br />
         <button type="submit" class="button_ok" name="deleteuser" value="1"
                 onmouseover="toggleDiv('inf_oktrash',1,event)" 
                 onmouseout="toggleDiv('inf_oktrash',0)"></button>
         <button type="submit" class="button_cancel" 
                 onmouseover="toggleDiv('inf_canceltrash',1,event)" 
                 onmouseout="toggleDiv('inf_canceltrash',0)"></button>
         </form>

         <div id="inf_oktrash" class="floatwin">~d("inf_oktrash")</div>
         <div id="inf_canceltrash" class="floatwin">~d("inf_canceltrash")</div>
       ]TRASH]>
     },  
       
   getpost("deleteuser")!="",
     {
       displayform=0;
       nick=auth_getbyuid(uid,"nickname");
       res=auth_deluser(uid); 

       <![DELETEUSER[
         ~string(nick) : 
             ~if(res >= 0, 
                  d("userdeleted"),
                  d("error",res)
                )
         <br />
         <form method="post" action="~relative_templeet_script()auth/privedit.html~if(lang!="",".".lang)">
         <button type="submit" class="button_ok"></button>
         </form>
       ]DELETEUSER]>
     },
       
   getpost("changepass")!="",
     {
       displayform=0;
       <![CHANGEPASS[         
         <h1>~d("changepass")</h1>

         <form method="post" action="~relative_templeet_script()~string(path)">
         ~d("newpass")<input type="password" name="newpassword" size="40" value="" class="form" /><br />
         <button type="submit" class="button_ok" name="newpass" value="1"
                 onmouseover="toggleDiv('inf_validpass',1,event)" 
                 onmouseout="toggleDiv('inf_validpass',0)"></button>
         <button type="submit" class="button_cancel" 
                 onmouseover="toggleDiv('inf_cancelpass',1,event)" 
                 onmouseout="toggleDiv('inf_cancelpass',0)"></button>
         </form>
         <div id="inf_validpass" class="floatwin">~d("inf_validpass")</div>
         <div id="inf_cancelpass" class="floatwin">~d("inf_cancelpass")</div>
         
       ]CHANGEPASS]>
     },
       
   getpost("newpass")!="",
     {
       res=auth_passwd(uid,'',getpost('newpassword'));
       if(res==0,
           message=d("passchanged"),
           message=d("error",res)
         );
       ""
     },
       
   getpost("changelogin")!="",
     {
       displayform=0;
       <![CHANGELOGIN[
         <h1>~d("changeloginnick")</h1>

         <form method="post" action="~relative_templeet_script()~string(path)">
         <table>
         <tr><td>~d("newlogin")</td><td><input type="text" name="login" size="40" value="~auth_getbyuid(uid,"login")" class="form" /></td></tr>
         <tr><td>~d("newnick")</td><td><input type="text" name="nickname" size="40" value="~auth_getbyuid(uid,"nickname")" class="form" /></td></tr>
         </table>
         <button type="submit" class="button_ok" name="setloginnick" value="1"
                 onmouseover="toggleDiv('inf_validnewloginnick',1,event)" 
                 onmouseout="toggleDiv('inf_validnewloginnick',0)"></button>
         <button type="submit"class="button_cancel" 
                 onmouseover="toggleDiv('inf_cancel',1,event)" 
                 onmouseout="toggleDiv('inf_cancel',0)"></button>
         </form>
         <div id="inf_validnewloginnick" class="floatwin">~d("inf_validnewloginnick")</div>
         <div id="inf_cancel" class="floatwin">~d("inf_cancel")</div>
       ]CHANGELOGIN]>
     },
       
   getpost("setloginnick")!="",
     {
       res=auth_loginnick(uid,getpost('login'),getpost('nickname'));

       if(res==0,
           {
             info=auth_getinfo(uid);
             userspace=info['userspace'];
             message=d("loginchanged")
           },
           message=d("error",res)
         );
       ""
     },
   getpost("ok")!="",
     {
       profile=getpost("profile");
       if(checkparam()==0,
           {
             res=auth_updateprofile(uid,profile);
             if(res!="",
               {
                 displayform=0;
                 message=d("error",res)
               },
               {
                 res=auth_setpriv(d("accountvalidated"),
                                  d("youcanconnect"),
                                  array(),
                                  getpost('_userinfo'));
                 if(is_int(res),
                    if(res!=0,
                        {
                          message=d("error",res);
                          displayform=0;
                        },
                        message=d("update")
                      ),
                    array_list(res,0,,'LF',message="",'LM',
                       {
                         #err=array_fld('current');
                         auth_list(-1,#err[0],'LM','',
                                   'LF',user=auth_listfld('login'),
                                   'LD',user=auth_listfld('login'));
                         if(array_fld('current')!=0,
                             message.=d("setpriverror",user,#err[1])
                           ) 
                       })
                    );  
               })
   
           },
           message=d("profileerror")  
         );
       ""
     },  
  )

~if(!isset(profile),
   {
     profile=getprofile(uid);
     if(profile<0,
       {
         displayform=0;
         message=d("error",profile)
       });
     ""
   })
    
~string(message)

~if(displayform,
  <![FORM[  
      <form method="post" action="~relative_templeet_script()~string(path)">
      <div>
      <input type="hidden" name="profile[#]" value="#" />
      <table class="lo">
    ~rem(  
        auth_list(userspace,'','LM',areas[]=auth_listfld("name"));
        areanum=0;
      )
      
      <tr>
        <td colspan="2"><h2>~d("identity")</h2></td>
      </tr>  
    ~auth_list(userspace,uid,
    'LFA',
    <![LFA_AUTHLIST[
      <tr>
        <td>~d("login")
        </td>
        <td valign="middle">~string(info['login'])
        </td>
      </tr>
      <tr>
        <td>~d("nick")
        </td>
        <td valign="middle">~string(info['nickname'])
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td valign="middle"><button type="submit" name="changelogin" value="1"
                onmouseover="toggleDiv('inf_changeloginnick',1,event)" 
                onmouseout="toggleDiv('inf_changeloginnick',0)"><img src="~imagepath()auth/icons/ch_log_nick.png" alt="ch_log_nick"
                /></button>
           <div id="inf_changeloginnick" class="floatwin">~d("inf_changeloginnick")</div>
           
           <button type="submit" name="changepass" value="1"
                     onmouseover="toggleDiv('inf_changepass',1,event)"
                     onmouseout="toggleDiv('inf_changepass',0)"><img src="~imagepath()auth/icons/key-24.png" alt="changepass"
                     /></button>
           <div id="inf_changepass" class="floatwin">~d("inf_changepass")</div>
        </td>
      </tr>
      <tr>
        <td>~d("validity")
        </td>
        <td>
          <input type="hidden" name="_userinfo[~string(uid)][prevvalid]" value="~auth_listfld("valid")" />
             ~auth_listfld("valid",1,d("valid_no_emailok"),
                                     d("valid_no"),
                                     d("valid_confirm"),
                                     d("valid_yes"))
        </td>
      </tr>
      ~if(!auth_emailislogin(),
        <![EMAIL[
      <tr>     
        <td>~d("email")
        </td>
        <td>~auth_listfld("email",1)</td>         
      </tr>
        ]EMAIL]>)
      <tr>     
        <td>~d("IP")
        </td>
        <td>~auth_listfld("ipaddr")</td>
      </tr>
      <tr>     
        <td>~d("creation")
        </td>
        <td>~auth_listfld("creation")</td>    
      </tr>
      <tr>
        <td>~d("userspace")
        </td>
        <td>
          ~auth_getbyuid(info['userspace'],"login")
        </td>
      </tr>
      ~if(getpriv("ADMIN"),
        <![SELECTUSERAREA[
          <tr>
            <td colspan="2">
              <h2>~d("privileges")</h2>
            </td>
          </tr>
          <tr>
            <td>
              ~d("selectuserspace")
            </td>
            <td>
              <select name="userspace">
                  ~array_list(auth_userspace(),0,,'LM',
                      <![USERSPACE[
                        <option value="~array_fld('key')" ~if(userspace==array_fld('key'),
                                    'selected="selected"')>~array_fld('current')</option> 
                      ]USERSPACE]>)
              </select>
              <button class="button_ok" type="submit" name="setuserspace" value="1"
                      onmouseover="toggleDiv('inf_selectuser',1,event)" onmouseout="toggleDiv('inf_selectuser',0)"></button>
              <div id="inf_selectuser" class="floatwin">~d("inf_selectuser")</div>
            </td>
          </tr>
        ]SELECTUSERAREA]>)

    ]LFA_AUTHLIST]>,
    'LM',
      <![LM[
      <tr>
        <td>~string(areas[areanum])~rem(areanum+=1)</td>
        <td valign="middle">~auth_listfld("select")</td>
      </tr>
      ]LM]>,
    'LLA',
    <![LLA_AUTHLIST[     
      <tr>
        <td></td>
        <td><button type="submit" class="button_ok" name="ok" value="1"
         onmouseover="toggleDiv('inf_valid',1,event)" 
         onmouseout="toggleDiv('inf_valid',0)" ></button>
        </td>
      </tr>
      
    ]LLA_AUTHLIST]>)

      
      <tr>
        <td colspan="2"><h2>~d("profile")</h2></td>
      </tr>  
      
      ~array_list(auth_readfields(),0,,
        "LD",
          <![NOPROFILE[
            <tr>
              <td colspan="2">~d("noprofile")</td>
            </tr>  
          ]NOPROFILE]>,
        "LM",
          {
            fieldname=array_fld('key');
            field=array_fld('current');
            if(isset(#labels["label"][fieldname]),
                 label=#labels["label"][fieldname][chooselang(lang,#labels["label"][fieldname])];
                 label=""
              );
            <![LM[
              <tr>
                ~switch(
                  field["desc"]["type"]=="title",
                    <![TITLE[
                      <td colspan="2">       
                        <h2>~string(label)</h2>
                      </td>
                    ]TITLE]>,
                  field["desc"]["type"]=="sep",
                    <![SEP[
                      <td colspan="2">       
                        <hr style="width:80%;">
                      </td>
                    ]SEP]>,
                    <![FIELD[
                      <td></td>
                      <td style="padding-top: 1em;">
                         ~if(!empty(errormessage[fieldname]),<![ERROR[<div class="error_line">~string(errormessage[fieldname])</div>]ERROR]>)
                      </td>
                      </tr><tr>
                      <td style="vertical-align: middle;">~string(label)</td>
                      <td style="vertical-align: middle;">
                        ~showinput(fieldname,field["desc"],profile[fieldname])
                      </td>
                    ]FIELD]>
                  )
              </tr>
            ]LM]>
          })
      
      <tr>
        <td></td>
        <td><button type="submit" class="button_ok" name="ok" value="1"
         onmouseover="toggleDiv('inf_valid',1,event)" 
         onmouseout="toggleDiv('inf_valid',0)" ></button>
         <div id="inf_valid" class="floatwin">~d("inf_valid")</div>

        </td>
      </tr>
      
      
      <tr>
           <td>
           </td>
        <td valign="middle">
          <button type="submit" class="button_trash" name="trash" value="1"
                 onmouseover="toggleDiv('inf_trash',1,event)" 
                 onmouseout="toggleDiv('inf_trash',0)"></button>
          <div id="inf_trash" class="floatwin">~d("inf_trash")</div>
        </td>
      </tr>

      
      </table>
      </div>
      </form>
  ]FORM]>)

]MAIN]>,
"00_home;20_admin")
