﻿~includelang("privedit")
~getauth('',0)
~include("/skins/skin.tmpl",
<![MAIN[
<script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>

~rem(
  first=switch(
     getpost("nextfirst_x")!="",
       getpost("nextfirst"),
       
     getpost("prevfirst_x")!="",
       getpost("prevfirst"),
       
     getpost('first')!='',
       getpost('first'),
       
     0
    );
    
  fields=if(is_array(getpost("fields")),
            getpost("fields"),
            array(
                    "login" => 2,
                    "nick" => 1,
                    "valid" => 2,
                    "areas" => 2,
                    "email" => if(auth_emailislogin(),0,1),
                    "ip" => 1,
                    "creation" => 1,
                    "userspace" => 2,
                    "pass" => 2,
                    "chloginnick" => 2,
                    "trash" => 2
                  )
           );

  if(fields['login']<2 && fields["nick"]<2,
      fields["login"]=2
    );

  pagesize=if(getpost('pagesize')!='',getpost('pagesize'),10);
  
  if(getpost('_ua_user')!='',
     uid=getpost('_ua_user'),
     if(getpriv('ADMIN'),uid=0),
        {
          setuid0=1;
          auth_list(auth_uid,'','LM',setuid0=0),
          if(setuid0,
              uid=0,
              uid=auth_uid
            )
        }  
     );
   
  switch(
    getpost('showmore')=='YES',
      {
        setcookie('TempleetAuthShowmore','YES',0,getconf('dir_installed'));
        showmore='YES'
      },
    getpost('showmore')=='NO',
      {
        setcookie('TempleetAuthShowmore','NO',0,getconf('dir_installed'));
        showmore='NO';
      },  
    getcookie('TempleetAuthShowmore')!='',
      showmore=getcookie('TempleetAuthShowmore'),
    showmore=if(auth_validmode()=='CONFIRM' || ~auth_validmode()=='CONFADMIN','YES','NO')   
    );

  display=if(showmore=='YES',1,2);

  displaydefault=0

)
~switch(
   getpost("trash")!="",
       <![TRASH[
         ~if(empty(~getpost('_trash')),
            <![NO_DELETE[
         <h1>~d("nodelete")</h1>
         <form method="post" action="~relative_templeet_script()~string(path)">
         <button type="submit" class="button_ok"></button>
         </form>
            ]NO_DELETE]>,
            <![DELETE_OK[
         <h1>~d("delete")</h1>
         <form method="post" action="~relative_templeet_script()~string(path)">
         ~array_list(getpost('_trash'),0,,
           'LM','<input type="hidden" name="uid[]" value="~array_fld('key')">~auth_getbyuid(array_fld('key'),"nickname")<br />
')
         <button type="submit" class="button_ok" name="deleteuser" value="1"
                 onmouseover="toggleDiv('inf_ok',1,event)" 
                 onmouseout="toggleDiv('inf_ok',0)"></button>
         <button type="submit" class="button_cancel" name="canceldeleteuser"
                 onmouseover="toggleDiv('inf_cancel',1,event)" 
                 onmouseout="toggleDiv('inf_cancel',0)"></button>
         </form>

         <div id="inf_ok" class="floatwin">~d("confirmdel")</div>
         <div id="inf_cancel" class="floatwin">~d("canceldel")</div>
            ]DELETE_OK]>
           )
       ]TRASH]>,  
       
   getpost("deleteuser")!="",
       <![DELETEUSER[
         ~array_list(getpost('uid'),0,,'LM','
             ~auth_getbyuid(array_fld('current'),"nickname") : 
                      ~if(auth_deluser(array_fld('current')) >= 0, 
                           d("userdeleted"),
                           d("userdeleteerror")
                         )
             <br />
         ')
         <form method="post" action="~relative_templeet_script()~string(path)">
         <button type="submit" class="button_ok"></button>
         </form>
       ]DELETEUSER]>,
       
   getpost("changepass")!="",
       <![CHANGEPASS[         
         <h1>~d("changepass")</h1>

         <form method="post" action="~relative_templeet_script()~string(path)">
         <input type="hidden" name="_uid" value="~getpost("changepass")">
         ~d("newpass")<input type="password" name="newpassword" size="40" value="" class="form" /><br />
         <button type="submit" class="button_ok" name="newpass" value="1"
                 onmouseover="toggleDiv('inf_ok',1,event)" 
                 onmouseout="toggleDiv('inf_ok',0)"></button>
         <button type="submit" class="button_cancel" 
                 onmouseover="toggleDiv('inf_cancel',1,event)" 
                 onmouseout="toggleDiv('inf_cancel',0)"></button>
         </form>
         <div id="inf_ok" class="floatwin">~d("validpass")</div>
         <div id="inf_cancel" class="floatwin">~d("cancelpass")</div>
         
       ]CHANGEPASS]>,
       
   getpost("newpass")!="",
       <![NEWPASS[
         ~rem(res=auth_passwd(getpost('_uid'),'',getpost('newpassword')))

         ~if(res==0,
              d("passchanged"),
              d("error",res)
            )
         <form method="post" action="~relative_templeet_script()~string(path)">
         <button type="submit" class="button_ok"></button>
         </form>

       ]NEWPASS]>,
       
   getpost("changelogin")!="",
       <![CHANGELOGIN[
         <h1>~d("changeloginnick")</h1>

         <form method="post" action="~relative_templeet_script()~string(path)">
         <input type="hidden" name="_uid" value="~getpost("changelogin")">
         <table>
         <tr><td>~d("newlogin")</td><td><input type="text" name="login" size="40" value="~auth_getbyuid(getpost("changelogin"),"login")" class="form" /></td></tr>
         <tr><td>~d("newnick")</td><td><input type="text" name="nickname" size="40" value="~auth_getbyuid(getpost("changelogin"),"nickname")" class="form" /></td></tr>
         </table>
         <button type="submit" class="button_ok" name="setloginnick" value="1"
                 onmouseover="toggleDiv('inf_validloginnick',1,event)" 
                 onmouseout="toggleDiv('inf_validloginnick',0)"></button>
         <button type="submit"class="button_cancel" 
                 onmouseover="toggleDiv('inf_cancelloginnick',1,event)" 
                 onmouseout="toggleDiv('inf_cancelloginnick',0)"></button>
         </form>
         <div id="inf_validloginnick" class="floatwin">~d("inf_validloginnick")</div>
         <div id="inf_cancelloginnick" class="floatwin">~d("inf_cancelloginnick")</div>
         
       ]CHANGELOGIN]>,
       
   getpost("setloginnick")!="",
       <![SETLOGINNICK[
         ~rem(res=auth_loginnick(getpost('_uid'),getpost('login'),getpost('nickname')))

         ~if(res==0,
              d("loginchanged"),
              d("error",~string(res))
            )
         <form method="post" action="~relative_templeet_script()~string(path)">
         <button type="submit" class="button_ok"></button>
         </form>

       ]SETLOGINNICK]>,
       
   getpost("modify")!="",
       {
         displaydefault=1;
         res=auth_setpriv(d("accountvalidated"),
                          d("youcanconnect"),
                          array(),
                          getpost('_userinfo'));
         if(is_int(res),
            if(res!=0,
                {
                  displaydefault=0;
                  d("error",res);
                },
                d("update")
              ),
            array_list(res,0,,'LM',
               {
                 #err=array_fld('current');
                 auth_list(-1,#err[0],'LM','',
                           'LF',user=auth_listfld('login'),
                           'LD',user=auth_listfld('login'));
                 if(array_fld('current')!=0,
                     d("setpriverror",user,#err[1])
                   ) 
               })
           );  
       },
    {displaydefault=1}
  )
~if(displaydefault!=0,       
   <![DEFAULT[    
<h1>~d("editpriv")</h1>
~rem(show_chloginnick=fields["chloginnick"]>=display && getpriv("{}ADMIN"))
~auth_listuser(auth_userspace,getpost('mask'),first,pagesize,
  'LN',d("nopriv"),
  'LD',<![LDLISTUSER[~d("nouser")<br />
<form method="post" action="~relative_templeet_script()~string(path)">
<div>
<input type="text" size="40" name="mask" class="form" value="~getpost('mask')" />
<input type="hidden" name="showmore" value="~string(showmore)" />
<input type="hidden" name="_ua_user" value="~string(uid)" />
<input type="hidden" name="pagesize" value="~string(pagesize)" />
<input type="image" src="~imagepath()auth/icons/search.png" style="vertical-align: middle;" onmouseover="toggleDiv('inf_searchuser',1,event)" onmouseout="toggleDiv('inf_searchuser',0)" />
</div>
</form><br />
]LDLISTUSER]>,
'LF',
<![LFLISTUSER[
    <form method="post" action="~relative_templeet_script()~string(path)">
    <div>
    <input type="hidden" name="showmore" value="~string(showmore)" />
    <input type="hidden" name="_ua_user" value="~string(uid)" />
    <input type="hidden" name="pagesize" value="~string(pagesize)" />
    <input type="submit" name="search" style="display: none;">
    <table class="chart">
    
    <tr>

    ~if(fields["login"]>=display,
       <![DISPLAYLOGIN[
           <td>~d('login')</td>
         ]DISPLAYLOGIN]>)
       
    ~if(fields["nick"]>=display,
       <![DISPLAYNICK[
           <td>~d('nick')</td>
         ]DISPLAYNICK]>)

    ~if(fields["valid"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYVALID[
           <td onmouseover="toggleDiv('inf_valid',1,event)" onmouseout="toggleDiv('inf_valid',0)" >~d("validity")</td>     
         ]DISPLAYVALID]>)

    ~if(fields["email"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYEMAIL[
           <td>~d("email")</td>     
         ]DISPLAYEMAIL]>)

    ~if(fields["ip"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYIP[
           <td>~d("IP")</td>     
         ]DISPLAYIP]>)

    ~if(fields["creation"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYCREATION[
           <td>~d("creation")</td>     
         ]DISPLAYCREATION]>)

    ~if(fields["areas"]>=display,
       "<!-- begin auth_list -->~auth_list(~string(uid),'','LM','<td>~auth_listfld("name")</td>')<!-- end auth_list -->")

    ~if(fields["userspace"]>=display && getpriv("ADMIN"),
       <![DISPLAYUSERSPACE[
           <td>~d("userspace")</td>     
         ]DISPLAYUSERSPACE]>)

    ~rem(
          colspan=0;
          if(fields["pass"]>=display && getpriv("{}ADMIN"),colspan+=1);
          if(show_chloginnick,colspan+=1);
          if(fields["trash"]>=display && getpriv("{}ADMIN"),colspan+=1);
        )

    ~if(colspan>0,
          <![COLSPAN[ 
            <td ~if(colspan>1,'colspan="~string(colspan)"')></td>
          ]COLSPAN]>
       )    
    </tr>
]LFLISTUSER]>,
'LL',
<![LLLISTUSER[
    <tr>
    ~rem(
          colspan=0;
          if(fields["login"]>=display,colspan+=1);
          if(fields["nick"]>=display,colspan+=1);
          if(fields["valid"]>=display && getpriv("{}ADMIN"),colspan+=1);
          if(fields["email"]>=display && getpriv("{}ADMIN"),colspan+=1);
          if(fields["ip"]>=display && getpriv("{}ADMIN"),colspan+=1);
          if(fields["creation"]>=display && getpriv("{}ADMIN"),colspan+=1);
      
          if(fields["areas"]>=display,
             auth_list(uid,'','LM',colspan+=1));
          if(fields["userspace"]>=display && getpriv("ADMIN") ,colspan+=1);
          if(fields["pass"]>=display && getpriv("{}ADMIN"),colspan+=1);
          if(show_chloginnick,colspan+=1);
    
        )
    <td ~if(colspan>1,'colspan="~string(colspan)"')></td>
    


    ~if(fields["trash"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYTRASH[
           <td>
             <button type="submit" class="button_trash" name="trash" value="1"
                 onmouseover="toggleDiv('inf_trash',1,event)" 
                 onmouseout="toggleDiv('inf_trash',0)"></button>
           </td>
         ]DISPLAYTRASH]>)
         
    </tr>

    </table>

    <table border="0" >
      <tr>
        <td>~list_prev(first,pagesize,
          <![PREV[
            <input type="image" name="prevfirst" value="~getfirst()" src="~imagepath()auth/icons/left_arrow.png"
              onmouseover="toggleDiv('inf_prevpage',1,event)"
              onmouseout="toggleDiv('inf_prevpage',0)" />
            ]PREV]>,
          '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
        </td>

        <td>~list_next(first,pagesize,auth_nbrows(),
          <![NEXT[
            <input type="image" name="nextfirst" value="~getfirst()" src="~imagepath()auth/icons/right_arrow.png"
              onmouseover="toggleDiv('inf_nextpage',1,event)"
              onmouseout="toggleDiv('inf_nextpage',0)" />
            ]NEXT]>,
          '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
        </td>
        
        <td>
          ~if(showmore=='YES',
              <![SHOWLESS[
                <button type="submit" name="showmore" value="NO"
                        onmouseover="toggleDiv('inf_showless',1,event)"
                        onmouseout="toggleDiv('inf_showless',0)"><img src="~imagepath()auth/icons/zoom_out.png"
                        alt="showless" /></button>
                ]SHOWLESS]>,
              <![SHOWMORE[
                <button type="submit" name="showmore" value="YES"
                        onmouseover="toggleDiv('inf_showmore',1,event)"
                        onmouseout="toggleDiv('inf_showmore',0)"><img src="~imagepath()auth/icons/zoom_in.png"
                        alt="showmore" /></button>
                ]SHOWMORE]>)
        </td>

        <td>
          <button type="submit" class="button_ok" name="modify" value="1"
                 onmouseover="toggleDiv('inf_okprivileges',1,event)" 
                 onmouseout="toggleDiv('inf_okprivileges',0)"></button>
          <button type="reset" class="button_reset"
                 onmouseover="toggleDiv('inf_reset',1,event)" 
                 onmouseout="toggleDiv('inf_reset',0)"></button>

          <input type="hidden" name="first" value="~string(first)" />
        </td>
      </tr>
    </table>

<input type="text" size="40" name="mask" class="form" value="~getpost('mask')" />
<input type="image" name="search" src="~imagepath()auth/icons/search.png"
       style="vertical-align: middle;"
       onmouseover="toggleDiv('inf_searchuser',1,event)" 
       onmouseout="toggleDiv('inf_searchuser',0)" />
<br />
</div>
</form>

]LLLISTUSER]>,
'LM',
<![LMLISTUSER[
    <tr>
    
    ~auth_list(uid,auth_listuserfld('uid'),
    'LFA',
    <![LFA_AUTHLIST[
    ~if(fields["login"]>=display,
       <![DISPLAYLOGIN[
           <td valign="middle" 
               onmouseover="toggleDiv('divlogin_~auth_listuserfld('uid')',1,event)" 
               onmouseout="toggleDiv('divlogin_~auth_listuserfld('uid')',0)"
           ><a href="~relative_templeet()~get_dirname()priveditsingle,~auth_listuserfld('uid').html~if(lang!="",".".lang)">~auth_listuserfld('login')</a>
           <div id="divlogin_~auth_listuserfld('uid')" class="floatwin">
              uid: ~auth_listuserfld('uid')<br />
              ~d("nick"): ~auth_listfld('nickname')
           </div>
           </td>
         ]DISPLAYLOGIN]>)

    ~if(fields["nick"]>=display,
       <![DISPLAYNICK[
           <td valign="middle"
               onmouseover="toggleDiv('divnick_~auth_listuserfld('uid')',1,event)" 
               onmouseout="toggleDiv('divnick_~auth_listuserfld('uid')',0)"
           >~auth_listuserfld('nickname')
           <div id="divnick_~auth_listuserfld('uid')" class="floatwin">
              uid: ~auth_listuserfld('uid')<br />
              ~d("login"): ~auth_listuserfld('login')
           </div>
           </td>
         ]DISPLAYNICK]>)
         
    ~if(fields["valid"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYVALID[
           <td onmouseover="toggleDiv('inf_valid',1,event)" onmouseout="toggleDiv('inf_valid',0)" >
             <input type="hidden" name="_userinfo[~auth_listuserfld('uid')][prevvalid]" value="~auth_listfld("valid")" />
             ~auth_listfld("valid",if(getpriv("{}ADMIN"),1,2),d("valid_no_emailok"),
                                               d("valid_no"),
                                               d("valid_confirm"),
                                               d("valid_yes"))
           </td>
         ]DISPLAYVALID]>)

    ~if(fields["email"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYEMAIL[
           <td>~if(getpriv("{}ADMIN"),auth_listfld("email",1),auth_listfld("email"))</td>         
         ]DISPLAYEMAIL]>)

    ~if(fields["ip"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYIP[
           <td>~auth_listfld("ipaddr")</td>
         ]DISPLAYIP]>)

    ~if(fields["creation"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYCREATION[
           <td>~auth_listfld("creation")</td>    
         ]DISPLAYCREATION]>)
    ]LFA_AUTHLIST]>,
    'LM',
      ~if(fields["areas"]>=display,
            <![AREA[<td valign="middle">~auth_listfld("select")</td>]AREA]>
         ),
    'LLA',
    <![LLA_AUTHLIST[     
    ~if(fields["userspace"]>=display && getpriv("ADMIN"),
       <![DISPLAYUSERSPACE[
           <td>
               ~auth_getbyuid(~auth_listuserfld('userspace'),"login")
           </td>
         ]DISPLAYUSERSPACE]>)

    ~if(fields["pass"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYPASS[
           <td valign="middle">
              ~if(~getpriv("{}ADMIN"),
                 <![CHANGEPASS[
                  <button type="submit" name="changepass" value="~auth_listuserfld('uid')"
                     onmouseover="toggleDiv('inf_changepass',1,event)"
                     onmouseout="toggleDiv('inf_changepass',0)"><img src="~imagepath()auth/icons/key-24.png" alt="changepass"
                   /></button>
                   ]CHANGEPASS]>)
           </td>
         ]DISPLAYPASS]>)

    ~if(show_chloginnick,
       <![DISPLAYCHLOGINNICK[
           <td valign="middle">
              <button type="submit" name="changelogin" value="~auth_listuserfld('uid')"
                onmouseover="toggleDiv('inf_changeloginnick',1,event)" 
                onmouseout="toggleDiv('inf_changeloginnick',0)"><img src="~imagepath()auth/icons/ch_log_nick.png" alt="ch_log_nick"
              /></button>
           </td>
         ]DISPLAYCHLOGINNICK]>)

    ~if(fields["trash"]>=display && getpriv("{}ADMIN"),
       <![DISPLAYTRASH[
           <td valign="middle">
              ~if(~getpriv("{}ADMIN"),
                 <![TRASH[
                   <input type="checkbox" name="_trash[~auth_listuserfld('uid')]" 
                     onmouseover="toggleDiv('inf_selecttrash',1,event)" 
                     onmouseout="toggleDiv('inf_selecttrash',0)" />
                   ]TRASH]>)  
           </td>
         ]DISPLAYTRASH]>)
    ]LLA_AUTHLIST]>)
    </tr>

]LMLISTUSER]>)

~if(getpriv("ADMIN"),"<hr />~include("selectuserarea.tmpl",lang,"auth/privedit.html~if(lang!="",".".lang)")")

<br /><br />


<div id="inf_okprivileges" class="floatwin">~d("inf_privvalid")</div>
<div id="inf_reset" class="floatwin">~d("inf_reset")</div>
<div id="inf_changepass" class="floatwin">~d("inf_changepass")</div>
<div id="inf_selecttrash" class="floatwin">~d("inf_selecttrash")</div>
<div id="inf_showless" class="floatwin">~d("inf_lessinfo")</div>
<div id="inf_showmore" class="floatwin">~d("inf_moreinfo")</div>
<div id="inf_searchuser" class="floatwin">~d("inf_searchuser")</div>
<div id="inf_prevpage" class="floatwin">~d("inf_prevpage")</div>
<div id="inf_nextpage" class="floatwin">~d("inf_nextpage")</div>
<div id="inf_valid" class="floatwin">~d("inf_accountvalid")</div>
<div id="inf_changeloginnick" class="floatwin">~d("inf_changeloginnick")</div>
<div id="inf_trash" class="floatwin">~d("inf_trash")</div>
]DEFAULT]>)

]MAIN]>,
"00_home;20_admin")
