﻿~includelang("validaccount")
~getauth('',-1)
~include("/skins/skin.tmpl",
<![MAIN[
    <script src="~relative_templeet()auth/floatwin.js" type="text/javascript"></script>

<h1>~d("title")</h1>

<p>
~string(
  {
    res=auth_validaccount(get_filenamevar(1),get_filenamevar(3),"",d("subjectmailadmin",get_filenamevar(1),get_filenamevar(2)),
                         d("bodymailadmin",get_filenamevar(1),get_filenamevar(2)),array("Content-type" => "text/plain; charset=utf-8")),
    if(res==0,
       switch(
          auth_validmode()=='CONFIRM',
            <![CONFIRM[
              ~d("confirm")
              <form method="get" action="my_account.html~if(lang!="",".".lang)">
                <button class="button_ok" type="submit"></button>
              </form>
            ]CONFIRM]>,
               
          auth_validmode()=='CONFADMIN',
             d("confadmin"),
 
          d("accountconfirmed") 
         ),
       d("validerror",res)   
     )
  }
)
</p>

]MAIN]>,
"00_home;30_myaccount")
