~include("error.tmpl",
"404 Not Found",
<![ERROR[
<h1>404 Not Found</h1>
<p>
The requested URL ~getserver("REQUEST_URI") was not found on this server.<br />
(computed path:~htmlspecialchars(path))
</p>
]ERROR]>)
