~include("error.tmpl",
"Eval error",
<![ERROR[
<h1>Eval error</h1>

<p>
Templeet has found an error while evaluating ~string(template)
</p>

<p>
<pre>
~string(errorLog) 
~if(isset(errorLine),"at line:".errorLine." ")in template: ~string(error_template)
</pre>
</p>

]ERROR]>)
