~include("error.tmpl",
"Syntax error",
<![ERROR[
<h1>Syntax error</h1>
<p>
  ~if(endoffile== 1, 
    'Templeet has found a syntax error at the end of the template ~string(actual_template)',
    if(empty(eval_content),
        'Templeet has found a syntax error on the character ~string(template_nb), line ~string(template_lines) of ~string(actual_template)',
        'Templeet has found a syntax error on the character ~string(template_nb), line ~string(template_lines) in eval function'
      )
    )
</p>

~rem(
      if(!empty(eval_content),
          template_file=eval_content,
          template_file=file_get_contents(actual_template)
        );
       
      count=template_lines-5;
      if(count<1,count=1);
    ) 
<div>
~lines(template_file,count,10,'LM',if(
     lines_fld('counter') != template_lines,
    '<pre style="margin: 0px; ~if(lines_fld('counter') >template_lines,"background-color: #cccccc;")">~lines_fld('counter') : ~htmlentities(~lines_fld('line'))</pre>',
    '<pre style="margin: 0px;">~lines_fld('counter') : ~htmlentities(substr(lines_fld('line'),0,template_nb-1))<span style="margin: 0px; background-color: #cccccc;">~htmlentities(substr(lines_fld('line'),template_nb-1))</span></pre>'
    ))
</div>

]ERROR]>)
